<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ../partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container" style="height:100%">
                <div class="row text-center">
                    <div class="col-lg-12" style="height:215px">
                        <div style="font-weight:bold">Additional Days</div>
                        <div>
                            <div>
                                <label for="pto_usernames" class="entryFieldlabel">Select Username</label>
                            </div>
                            <select id="usernames" name="usernames">
                                <option value="">--Select--</option>
                                <% if(locals.username) { %>
                                    <% for(var x=0; x<username.length; x++) { %>
                                        <option value="<%=username[x]%>"><%=username[x]%></option>
                                    <% } %>
                                <% } %>
                            </select>
                        </div>
                        <div>
                            <div>
                                <label for="txtNumDays" class="entryFieldlabel">Enter Number of Days</label>
                            </div>
                            <input type="text" id="txtNumDays" name="txtNumDays"/>
                        </div>
                        <div><button type="button" class="btn btn-warning" id="btnSubmit">Submit</button></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <% include ../partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $('#btnSubmit').click(function() {
                var data = {};
                data.username = $('#usernames').val();
                data.txtNumDays = $('#txtNumDays').val();
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/addPTODays',
                    success: function(data) {
                        window.location.assign("/adtlDays");
                    }
                });
            });                  
        });
    </script>
</html>