<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ../partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80" style="margin-top:60px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="phs" class="ptos">
                            <strong>Attended PH's</strong>
                            <div>
                                <input type="text" id="students" name="students" placeholder="Type to search for Student" style="width:250px">
                            </div>
                            <%if(locals.phs) { %>
                                <table class="table table-striped" id="tblStudents">
                                    <thead><th>Student Username</th><th>Assigned By</th><th>Date</th><th>Reason</th><th>Description</th><th>Attended</th><th>Date Attended</th><th>Grade</th></thead>
                                    <tbody>
                                        <% for(var i=0; i<phs.length; i++) {%>
                                            <tr>
                                                <td><%=phs[i].ph_submissions_assigned_to%></td>
                                                <td><%=phs[i].ph_submissions_assigned_by%></td>
                                                <td><%=moment(phs[i].ph_submissions_date_assigned).format("MM/DD/YYYY")%></td>
                                                <td><%=phs[i].ph_submissions_reason%></td>
                                                <td><%=phs[i].ph_submissions_description%></td>
                                                <td>
                                                    <% if(phs[i].ph_submissions_attended == 0) { %>
                                                        Not Attended
                                                    <% } else { %>
                                                        Attended
                                                    <% } %>
                                                </td>
                                                <td><%=moment(phs[i].ph_submissions_date_attended).format("MM/DD/YYYY")%></td>
                                                <td><%=phs[i].ph_submissions_grade_level%></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <% include ../partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $('#students').keyup(function() {
                var data = {};
                var message = "";
                data.student = $(this).val();
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/getAttendedPHStudent',
                    success: function(data) {
                        $('#tblStudents tbody').empty();
                        for(var key in data) {
                            message += "<tr>";
                            message += "<td>"+data[key].ph_submissions_assigned_to+"</td>";
                            message += "<td>"+data[key].ph_submissions_assigned_by+"</td>";
                            message += "<td>"+moment(data[key].ph_submissions_date_assigned).format('MM/DD/YYYY')+"</td>";
                            message += "<td>"+data[key].ph_submissions_reason+"</td>";
                            message += "td>"+data[key].ph_submissions_description+"</td>";
                            message += "<td>"+data[key].ph_submissions_description+"</td>";
                            if(data[key].ph_submissions_attended == 0) {
                                message += "<td>Not Attended</td>";
                            } else {
                                message += "<td>Attended</td>";
                            }
                            message += "<td>"+moment(data[key].ph_submissions_date_attended).format('MM/DD/YYYY')+"</td>";
                            message += "<td>"+data[key].ph_submissions_grade_level+"</td>";
                            message += "</tr>";
                        }
                        $('#tblStudents tbody').append(message);
                    }
                });
            });
            $("#phs").on("click", "#btnExport", function(e) {
                e.preventDefault();
                $('#header').hide();
                $('.footer').hide();
                $('#btnExport').hide();
            });         
        });
    </script>
</html>