<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ../partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80" style="margin-top:60px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <form method="post" action="/gradeTardies">
                            <div style="display:flex">
                                <div style="padding:10px">
                                    <div>
                                        <label for="start_date" class="entryFieldlabel">Start Date</label>
                                    </div>
                                    <div>
                                        <input type="date" name="start_date" id="start_date" placeholder="MM/DD/YYYY">
                                    </div>
                                </div>
                                <div style="padding:10px">
                                    <div>
                                        <label for="end_date" class="entryFieldlabel">End Date</label>
                                    </div>
                                    <div>
                                        <input type="date" name="end_date" id="end_date" placeholder="MM/DD/YYYY">
                                    </div>
                                </div>
                                <div style="padding:10px">
                                    <div style="margin-top:35px">
                                        <button name="submit" id="btnSearchStudents" type="submit" class="btn btn-md btn-black">Search Students</button>
                                    </div>
                                </div>
                            </div>
                            <div id="phs" class="ptos">
                                <strong>Tardies By Grade</strong>
                                <%if(locals.phs) { %>
                                    <table class="table table-striped">
                                        <thead><th>Student Username</th><th>Total PH's</th></thead>
                                        <tbody>
                                            <% for(var i=0; i<phs.length; i++) {%>
                                                <tr>
                                                    <td><%=phs[i].ph_submissions_assigned_to%></td>
                                                    <td><%=phs[i].count%></td>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                <% } %>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <% include ../partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            <% if(locals.start_date) { %>
                $('#start_date').val('<%=start_date%>');
                $('#end_date').val('<%=end_date%>');
            <% } %>            
        });
    </script>
</html>