<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ../partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80" style="margin-top:60px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="phs" class="ptos">
                            <strong>Recent 3 Firsts</strong>
                            <%if(locals.phs) { %>
                                <table class="table table-striped" id="tblStudents">
                                    <thead><th>Assigned To</th><th>Date</th></thead>
                                    <tbody>
                                        <% for(var i=0; i<phs.length; i++) {%>
                                            <tr>
                                                <td><%=phs[i].assigned_to%></td>
                                                <td><%=moment(phs[i].date_assigned).format("MM/DD/YYYY")%></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <% include ../partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
    <script type="text/javascript" language="javascript">
    </script>
</body>
</html>