<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ../partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80" style="margin-top:60px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <form method="post" action="/gradeTardies">
                            <div style="display:flex">
                                <div style="padding:10px">
                                    <div>
                                        <label for="ddlGrade" class="entryFieldlabel">Grade</label>
                                    </div>
                                    <div>
                                        <select id="ddlGrade" name="ddlGrade">
                                            <option value="">--Select--</option>
                                            <option value="9">9th</option>
                                            <option value="10">10th</option>
                                            <option value="11">11th</option>
                                            <option value="12">12th</option>
                                        </select>
                                    </div>
                                </div>
                                <div style="padding:10px">
                                    <div>
                                        <label for="start_date" class="entryFieldlabel">Start Date</label>
                                    </div>
                                    <div>
                                        <input type="date" name="start_date" id="start_date" placeholder="MM/DD/YYYY">
                                    </div>
                                </div>
                                <div style="padding:10px">
                                    <div>
                                        <label for="end_date" class="entryFieldlabel">End Date</label>
                                    </div>
                                    <div>
                                        <input type="date" name="end_date" id="end_date" placeholder="MM/DD/YYYY">
                                    </div>
                                </div>
                                <div style="padding:10px">
                                    <div style="margin-top:35px">
                                        <button name="submit" id="btnSearchTardies" type="submit" class="btn btn-md btn-black">Search Tardies</button>
                                    </div>
                                </div>
                            </div>
                            <div id="phs" class="ptos">
                                <strong>Tardies By Grade</strong>
                                <%if(locals.phs) { %>
                                    <table class="table table-striped">
                                        <thead><th>Student Username</th><th>Assigned By</th><th>Date</th><th>Attended</th><th>Grade</th></thead>
                                        <tbody>
                                            <% for(var i=0; i<phs.length; i++) {%>
                                                <tr>
                                                    <td><%=phs[i].ph_submissions_assigned_to%></td>
                                                    <td><%=phs[i].ph_submissions_assigned_by%></td>
                                                    <td><%=moment(phs[i].ph_submissions_date_assigned).format("MM/DD/YYYY")%></td>
                                                    <td>
                                                        <% if(phs[i].ph_submissions_attended == 0) { %>
                                                            Not Attended
                                                        <% } else { %>
                                                            Attended
                                                        <% } %>
                                                    </td>
                                                    <td><%=phs[i].ph_submissions_grade_level%></td>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                <% } %>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <% include ../partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            <% if(locals.grade) { %>
                $('#ddlGrade').val(<%=grade%>);
                $('#start_date').val('<%=start_date%>');
                $('#end_date').val('<%=end_date%>');
            <% } %>            
        });
    </script>
</html>