<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ../partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80" style="margin-top:60px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="phs" class="ptos">
                            <strong>Oustanding PH's</strong>
                            <div style="float:right">
                                <button type="button" class="btn btn-md btn-black" id="btnEmailReminder">Email Reminder</button>
                                <button type="button" class="btn btn-md btn-black" id="btnExport">Export To Excel</button>
                            </div>
                            <div>
                                <input type="text" id="students" name="students" placeholder="Type to search for Student" style="width:250px">
                            </div>
                            <%if(locals.phs) { %>
                                <table class="table table-striped" id="tblStudents">
                                    <thead><th>First Name</th><th>Last Name</th><th>Assigned By</th><th>Date</th><th>Date To Attend</th><th>Reason</th><th>Description</th><th>Attended</th><th>Grade</th></thead>
                                    <tbody>
                                        <% for(var i=0; i<phs.length; i++) {%>
                                            <tr>
                                                <td><%=phs[i].first_name%></td>
                                                <td><%=phs[i].last_name%></td>
                                                <td><%=phs[i].ph_submissions_assigned_by%></td>
                                                <td><%=moment(phs[i].ph_submissions_date_assigned).format("MM/DD/YYYY")%></td>
                                                <td><%=moment(phs[i].ph_date_to_attend).format("MM/DD/YYYY")%></td>
                                                <td><%=phs[i].ph_submissions_reason%></td>
                                                <td class="phNote"><%=phs[i].ph_submissions_description%></td>
                                                <td>
                                                    <% if(phs[i].ph_submissions_attended == 0) { %>
                                                        Not Attended
                                                    <% } else { %>
                                                        Attended
                                                    <% } %>
                                                </td>
                                                <td><%=phs[i].ph_submissions_grade_level%></td>
                                                <td>
                                                    <button type="button" data-id="<%=phs[i].ph_submissions_id%>" class="btn btn-md btn-black btnAttended" id="btnAttended">Attended</button>
                                                </td>
                                                <td>
                                                    <button type="button" data-id="<%=phs[i].ph_submissions_id%>" class="btn btn-md btn-black btnMissed" id="btnMissed">Missed</button>
                                                </td>                                                
                                                <%if(locals.canRemove) { %>
                                                    <% if(canRemove) { %>
                                                        <td>
                                                            <button type="button" data-id="<%=phs[i].ph_submissions_id%>" class="btn btn-md btn-black btnRemove" id="btnRemove">Remove</button>
                                                        </td>
                                                    <% } %>
                                                <% } %>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <% include ../partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $("#phs").on("click", "#btnAttended", function(e) {
                e.preventDefault();
                var button = $(this);
                var ID = $(this).data('id');
                data = {};
                data.id = ID;
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/phMarkAttended',
                    success: function(data) {
                        window.location.assign("outstandingPhs");
                    }
                });
            });
            $("#phs").on("click", "#btnMissed", function(e) {
                e.preventDefault();
                var button = $(this);
                var ID = $(this).data('id');
                data = {};
                data.id = ID;
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/phMarkMissed',
                    success: function(data) {
                        window.location.assign("outstandingPhs");
                    }
                });
            });             
            $("#phs").on("click", "#btnRemove", function(e) {
                e.preventDefault();
                var button = $(this);
                var ID = $(this).data('id');
                data = {};
                data.id = ID;
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        url: '/phMarkRemoved',
                        success: function(data) {
                            window.location.assign("outstandingPhs");
                        }
                    });
            }); 
            $("#phs").on("click", "#btnExport", function(e) {
                e.preventDefault();
                $.ajax({
                    type: 'GET',
                    url: '/exportOustandingXLS',
                    success: function(data) {
                        window.open('/downloadOutstandingPH');
                    }
                });
            });
            $("#tblStudents").on("click", ".phNote", function(e) {
                e.preventDefault();
                $('.modal-body').text($(this).text());
                $('#phNoteModal').modal('show');
            });
            $("#phs").on("click", "#btnEmailReminder", function(e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    url: '/emailTardyReminder',
                    success: function(data) {
                        alert("Reminder Emails have been sent");
                    }
                });
            });             
            $('#students').keyup(function() {
                var data = {};
                var message = "";
                data.student = $(this).val();
                data.ph_type = "PH";
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/getOutstandingPHStudent',
                    success: function(data) {
                        $('#tblStudents tbody').empty();
                        for(var key in data) {
                            message += "<tr>";
                            message += "<td>"+data[key].first_name+"</td>";
                            message += "<td>"+data[key].last_name+"</td>";
                            message += "<td>"+data[key].ph_submissions_assigned_by+"</td>";
                            message += "<td>"+moment(data[key].ph_submissions_date_assigned).format('MM/DD/YYYY')+"</td>";
                            message += "<td>"+moment(data[key].ph_date_to_attend).format('MM/DD/YYYY')+"</td>";
                            message += "<td>"+data[key].ph_submissions_reason+"</td>";
                            message += "<td class='phNote'>"+data[key].ph_submissions_description+"</td>";
                            if(data[key].ph_submissions_attended == 0) {
                                message += "<td>Not Attended</td>";
                            } else {
                                message += "<td>Attended</td>";
                            }
                            message += "<td>"+data[key].ph_submissions_grade_level+"</td>";
                            message += '<td><button type="button" data-id="'+data[key].ph_submissions_id+'" class="btn btn-md btn-black btnAttended" id="btnAttended">Mark    Attended</button></td>';
                            message += '<td><button type="button" data-id="'+data[key].ph_submissions_id+'" class="btn btn-md btn-black btnRemove" id="btnRemove">Remove</button></td>';
                            message += "</tr>";
                        }
                        $('#tblStudents tbody').append(message);
                    }
                });
            });       
        });
    </script>
    <!-- Modal -->
    <div class="modal fade" id="phNoteModal" tabindex="-1" role="dialog" aria-labelledby="phNoteModalLabel" aria-hidden="true" data-backdrop="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="phNoteModalLabel">PH Note</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</body>
</html>