<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80" style="margin-top:60px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="phs" class="ptos">
                            <strong>Oustanding PH's</strong>
                            <%if(locals.phs) { %>
                                <table class="table table-striped">
                                    <thead><th>Student Username</th><th>Assigned By</th><th>Date</th><th>Date To Attend</th><th>Reason</th><th>Description</th><th>Attended</th><th>Grade</th></thead>
                                    <tbody>
                                        <% for(var i=0; i<phs.length; i++) {%>
                                            <tr>
                                                <td><%=phs[i].ph_submissions_assigned_to%></td>
                                                <td><%=phs[i].ph_submissions_assigned_by%></td>
                                                <td><%=moment(phs[i].ph_submissions_date_assigned).format("MM/DD/YYYY")%></td>
                                                <td><%=moment(phs[i].ph_date_to_attend).format("MM/DD/YYYY")%></td>
                                                <td><%=phs[i].ph_submissions_reason%></td>
                                                <td class="phNote"><%=phs[i].ph_submissions_description%></td>
                                                <td>
                                                    <% if(phs[i].ph_submissions_attended == 0) { %>
                                                        Not Attended
                                                    <% } else { %>
                                                        Attended
                                                    <% } %>
                                                </td>
                                                <td><%=phs[i].ph_submissions_grade_level%></td>
                                                <td><button type="button" data-id="<%=phs[i].ph_submissions_id%>" class="btn btn-md btn-black" id="btnAttended">Mark Attended</button>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
             $("#phs").on("click", "#btnAttended", function(e) {
                e.preventDefault();
                var button = $(this);
                var ID = $(this).data('id');
                data = {};
                data.id = ID;
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        url: '/phMarkAttended',
                        success: function(data) {
                            window.location.replace("outstandingPhs");
                        }
                    });
            });          
        });
    </script>
</html>