<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ../partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80" style="padding-top:100px">
            <div class="container">
                <div class="row">
                    <form method="post" action="/assignPH" id="frmPH">
                        <div class="col-lg-4">
                            <div class="add-pto">
                            <strong>Submit new PH</strong>
                                    <div>
                                        <input type="text" id="students" name="students" list="student-datalist" placeholder="Type to search for Student" style="width:250px">
                                        <datalist id="student-datalist"></datalist>
                                    </div>
                                    <div>
                                        <select id="ph_type" name="ph_type">
                                            <option value = "PH">PH</option>
                                            <option value = "Friday PH">Friday PH</option>
                                            <option value = "Saturday PH">Saturday PH</option>
                                        </select>
                                    </div>
                                    <div>
                                        <select id="ph_reason" name="ph_reason">
                                            <option value = ""></option>
                                            <option value = "Tardy">Tardy</option>
                                            <option value = "Late to School">Late to School</option>
                                            <option value = "Late to CWSP">Late to CWSP</option>
                                            <option value = "CWSP Unscheduled Make-up">CWSP Unscheduled Make-up</option>
                                            <option value = "Missed Teacher Appointment">Missed Teacher Appointment</option>
                                            <option value = "Disrupting Class">Disrupting Class</option>
                                            <option value = "Uniform">Uniform</option>
                                            <option value = "Behaviour">Behaviour</option>
                                            <option value = "Academic Integrity">Academic Integrity</option>
                                            <option value = "Incomplete Paperwork">Incomplete Paperwork</option>
                                            <option value = "Missed PH">Missed PH</option>
                                        </select>
                                    </div>
                                    <div style="clear:both">
                                        <textarea rows="10" cols="50" name="ph_notes" id="ph_notes" placeholder="Description...."></textarea>
                                    </div>
                                    <div>
                                        <button name="submit" id="btnAddPh" type="submit" class="btn btn-md btn-black">Submit PH</button>
                                    </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-lg-8">
                        <div class="alert alert-success" id="success-alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Success! </strong>
                            Your PH has been recorded!
                        </div>
                        <div class="alert alert-danger" id="failure-alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Failed! </strong>
                            Your PH has NOT been recorded!
                        </div>
                    </div>                    
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <% include ../partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $('#success-alert').hide();
            $('#failure-alert').hide();
            <% if(locals.success) { %>
                <%if(success) { %>
                    $("#success-alert").fadeTo(3000, 500).slideUp(500, function(){
                        $("#success-alert").slideUp(500);
                    }); 
                <% } %>
            <% } %>
            <% if(locals.success) { %>
                <%if(!success) { %>
                    $("#failure-alert").fadeTo(3000, 500).slideUp(500, function(){
                        $("#failure-alert").slideUp(500);
                    }); 
                <% } %>
            <% } %>            
            var dataList = document.getElementById('student-datalist');
            var input = document.getElementById('students');
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: '/getStudents',
                success: function(data) {
                    console.log(data);
                    for(var key in data) {
                        var option = document.createElement('option');
                        option.value = key;
                        option.text = data[key].username;
                        dataList.appendChild(option);   
                    }
                }
            });
            $(document).on("click", "#btnAddPh", function(e) {
                let selection = $('#students').val();
                let obj = $('#student-datalist').find("option[value='"+selection+"']");
                if(!(obj != null && obj.length>0)) {
                    alert("You must select a name or enter their ENTIRE username");
                    e.preventDefault();
                }
                if($(ph_reason).val() == "") {
                    alert("You must select a PH Reason to submit a PH.");
                    e.preventDefault();
                }
            });
        });
    </script>
</html>