<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ../partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-12">
                        <% if(login) { %>
                            <div id="ptoTools" class="button_dashboards">
                                <% if(isFacultyStaff) { %>
                                    <span class="adminbutton" onclick="linkaddress('TardiesByGrade');">
                                        <div class="glyphicon glyphicon-time fa-4x"></div><div class="buttontext">Tardies By Grade</div>
                                    </span>
                                    <span class="adminbutton" onclick="linkaddress('FirstReports');">
                                        <div class="glyphicon glyphicon glyphicon-edit fa-4x"></div><div class="buttontext">First Period Tardies</div>
                                    </span>
                                    <span class="adminbutton" onclick="linkaddress('AttendedPH');">
                                        <div class="glyphicon glyphicon glyphicon-edit fa-4x"></div><div class="buttontext">Attended PH's</div>
                                    </span>                                                                     
                                <% } %>
                            </div>
                            <div id="ptoTools" class="button_dashboards">
                                <% if(isFacultyStaff) { %>
                                    <span class="adminbutton" onclick="linkaddress('OutstandingPH');">
                                        <div class="glyphicon glyphicon glyphicon-edit fa-4x"></div><div class="buttontext">Outstanding PH's</div>
                                    </span>
                                    <span class="adminbutton" onclick="linkaddress('OutstandingFridayPH');">
                                        <div class="glyphicon glyphicon-time fa-4x"></div><div class="buttontext">Outstanding Friday's</div>
                                    </span>
                                    <span class="adminbutton" onclick="linkaddress('OutstandingSaturdayPH');">
                                        <div class="glyphicon glyphicon glyphicon-edit fa-4x"></div><div class="buttontext">Outstanding Saturday's</div>
                                    </span>                                                                     
                                <% } %>
                            </div>                            
                        <% } else {%>
                            You are not logged in so you cannot see anything!
                        <% } %>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <% include ../partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
    <script type="text/javascript" language="javascript">
        function linkaddress(LinkLocation) {
            if(LinkLocation == "TardiesByGrade") {
                window.location.assign("gradeTardies");
            } else if(LinkLocation == "OutstandingPH") {
                window.location.assign("outstandingPhs");
            } else if(LinkLocation == "AttendedPH") {
                window.location.assign("attendedPhs");
            } else if(LinkLocation == "OutstandingFridayPH") {
                window.location.assign("outstandingFridayPhs");
            } else if(LinkLocation == "OutstandingSaturdayPH") {
                window.location.assign("outstandingSaturdayPhs");
            } else if(LinkLocation == "FirstReports") {
                window.location.assign("recentFirsts");
            }
        }
    </script>
</html>