<!-- views/partials/footer.ejs FOOTER -->
        <footer class="footer pt-60">
            <div class="container">
                <!--Footer Info -->
                <div class="row footer-info mb-20">
                    <div class="col-md-3 col-sm-12 col-xs-12 mb-sm-30">
                        <a class="footer-logo" href="home.html">
                            <img src="/img/crjlogotext.png" />
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30 mb-xs-0">
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30">
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <p style="color:#FF6B09;font-size:1.5em;font-family: 'Bree Serif', serif;">Cristo Rey Jesuit</p>
                        <p>6700 Mount Carmel St.</p>
                        <p>Houston, TX 77087</p>
                        <ul class="link-small">
                            <li><a href="mailto:yourname@domain.com"><i class="fa fa-envelope-o left"></i>helpdesk@cristoreyjesuit.org</a></li>
                            <li><a><i class="fa fa-phone left"></i>281-501-1298</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Footer Info -->
            </div>

            <hr />

            <!-- Copyright Bar -->
            <section class="copyright ptb-20">
                <div class="container">
                    <p class="">
                        © 2015 <a><b>Mazel Template</b></a>. All Rights Reserved.
                        <br />
                        Template  by <a target="_blank" href="http://nileforest.com/"><b>nileforest</b></a>
                    </p>
                </div>
            </section>
            <!-- End Copyright Bar -->

        </footer>
        <!-- END FOOTER -->