<!-- Header -->
<header id="header" class="header header-light">
    <div class="header-inner">
        <!-- Mobile Navbar Icon -->
        <div class="nav-mobile nav-bar-icon">
            <span></span>
        </div>
        <!-- End Mobile Navbar Icon -->

        <!-- Navbar Navigation -->

        <nav class="navbar navbar-custom">
            <div class="navigation_container">
                <div class="navbar-header">
                    <a class="navbar-brandCRJ" rel="home" href="#" title="Cristo Rey Jesuit">
                        <img style="max-width:200px; margin-top: -7px;"
                             src="/img/logotext.png">
                    </a>
                </div>
                <div id="navbar" class="navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <% if(login) { %>
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                        <% } else { %>
                            <li>
                                <a href="/login">Login</a>
                            </li>
                        <% } %>                        
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar Navigation -->
    </div>            
</header>