<title>Cristo Rey Jesuit Intranet</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/localstyles.css" />
<link href="/css/style.css" rel="stylesheet" type="text/css" />

<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="/css/ionicons.css" rel="stylesheet" type="text/css" />
<link href="/css/plugin/sidebar-menu.css" rel="stylesheet" type="text/css" />
<link href="/css/plugin/animate.css" rel="stylesheet" type="text/css" />
<link href="/css/jquery-ui.css" rel="stylesheet" type="text/css" />