<!--SIDEBAR NAVIGATION-->

	<nav id="sidebar">
		<% if(login) { %>
			<ul class="sidebar">
				<li class="active">
					<a href="#" id="ptoSidebar">PTO</a>
				</li>
				<li>
					<a href="#" id="phSidebar">Penance Hall</a>
				</li>
				<% if(canAssignSubs) { %>
					<li>
						<a href="#" id="subsSidebar">Substitutes</a>
					</li>
				<% } %>	
				<% if(allowCollege) { %>
					<li>
						<a href="#" id="collegefinancialsSidebar">College Financials</a>
					</li>
				<% } %>				
				<% if(systemAdmin) { %>	
					<li>
						<a href="#" id="adminsSidebar">Administrators</a>
					</li>	
				<% } %>

					<li>
						<a href="#" id="loanerLaptopSidebar">Loaner Laptops</a>
					</li>

			</ul>
		<% } %>
	</nav>
