<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ./partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row" style="padding-top:20px">
                    <div class="col-lg-3">
                        <form method="post" action="/assignMaxCarryOver">
                            <strong>Set Max Carry Over</strong>
                            <div>
                                <div>
                                    <label for="pto_carry_over" class="entryFieldlabel">Max Carry Over</label>
                                </div>
                                <%if(locals.results) { %>
                                    <% if(results.hasOwnProperty("Max Carry Over")) { %>
                                        <input type="number" id="txtMaxCarryOver" name="txtMaxCarryOver" placeholder="Max Carry Over" value = "<%=results["Max Carry Over"]%>">
                                    <% }  else { %>
                                        <input type="number" id="txtMaxCarryOver" name="txtMaxCarryOver" placeholder="Max Carry Over">
                                    <% } %>
                                <% } %>
                            </div>                               
                            <button name="submit" id="btnChangeMaxCarryOver" type="submit" class="btn btn-md btn-black">Update Max Carryover</button>
                        </form>
                    </div>
                    <div class="col-lg-3">
                        <form method="post" action="/assignStaffPTO">
                            <strong>Staff PTO Days</strong>
                            <div>
                                <div>
                                    <label class="entryFieldlabel">PTO Days</label>
                                </div>
                                <%if(locals.results) { %>
                                    <% if(results.hasOwnProperty("Staff PTO")) { %>
                                        <input type="number" id="txtStaffPTO" name="txtStaffPTO" placeholder="Staff PTO" value = "<%=results["Staff PTO"]%>">
                                    <% } else { %>
                                        <input type="number" id="txtStaffPTO" name="txtStaffPTO" placeholder="Staff PTO">
                                    <% } %>
                                <% } %>        
                            </div>                               
                            <button name="submit" id="btnChangeStaffPTO" type="submit" class="btn btn-md btn-black">Update Staff PTO</button>
                        </form>
                    </div>
                    <div class="col-lg-3">
                        <form method="post" action="/assignFacultyPTO">
                            <strong>Faculty PTO Days</strong>
                            <div>
                                <div>
                                    <label class="entryFieldlabel">PTO Days</label>
                                </div>
                                <%if(locals.results) { %>
                                        <% if(results.hasOwnProperty("Faculty PTO")) { %>
                                            <input type="number" id="txtFacultyPTO" name="txtFacultyPTO" placeholder="Faculty PTO" value = "<%=results["Faculty PTO"]%>">
                                        <% } else { %>
                                            <input type="number" id="txtFacultyPTO" name="txtFacultyPTO" placeholder="Faculty PTO">
                                        <% } %>
                                <% } %>
                            </div>                               
                            <button name="submit" id="btnChangeFacultyPTO" type="submit" class="btn btn-md btn-black">Update Faculty PTO</button>
                        </form>
                    </div>                    
                </div>
                <div class="row" style="padding-top:40px">
                    <div class="col-lg-3">
                        <form method="post" action="/assignPTOResetDate">
                            <strong>Set PTO Reset Date</strong>
                            <div>
                                <div>
                                    <label for="pto_carry_over" class="entryFieldlabel">PTO Reset Date (MM/DD)</label>
                                </div>
                                <%if(locals.results) { %>
                                    <% if(results.hasOwnProperty("PTO Reset Date")) { %>
                                        <input type="text" id="txtPTOResetDate" name="txtPTOResetDate" placeholder="PTO Reset Date" value = "<%=results["PTO Reset Date"]%>">
                                    <% }  else { %>
                                        <input type="text" id="txtPTOResetDate" name="txtPTOResetDate" placeholder="mm/dd">
                                    <% } %>
                                <% } %>
                            </div>                               
                            <button name="submit" id="btnChangePTOResetDate" type="submit" class="btn btn-md btn-black">Update PTO Reset Date</button>
                        </form>
                    </div>
                    <div class="col-lg-3">
                        <form method="post" action="/assignAbsentEmails">
                            <strong>Set Skipping Student Email To</strong>
                            <div>
                                <div>
                                    <label for="absent_email_to" class="entryFieldlabel">Email To</label>
                                </div>
                                <%if(locals.results) { %>
                                    <% if(results.hasOwnProperty("Absent Email To")) { %>
                                        <input type="text" id="txtAbsentEmailTo" name="txtAbsentEmailTo" placeholder="Email To" value = "<%=results["Absent Email To"]%>">
                                    <% }  else { %>
                                        <input type="text" id="txtAbsentEmailTo" name="txtAbsentEmailTo" placeholder="email@email.com">
                                    <% } %>
                                <% } %>
                            </div>                               
                            <button name="submit" id="btnChangeAbsentEmailTo" type="submit" class="btn btn-md btn-black">Update Skipping Email To</button>
                        </form>
                    </div>               
                </div>
            </div>
        </section>
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row" style="padding-top:20px">
                    <div class="col-lg-3">
                        <form method="post" action="/addPTOApprovers">
                            <strong>Add PTO Approver</strong>
                            <div>
                                <div>
                                    <label for="pto_approver" class="entryFieldlabel">PTO Approver Group</label>
                                </div>
                                    <input type="text" id="txtPTOApprover" name="txtPTOApprover" placeholder="PTO Approver Group">
                            </div>                               
                            <button name="submit" id="btnPTOApproverGroup" type="submit" class="btn btn-md btn-black">Add PTO Approver Group</button>
                        </form>
                    </div>
                </div>
                <div class="row" style="padding-top:20px">
                    <div class="col-lg-6">
                        <strong>PTO Approver Groups</strong>
                        <table class="table table-striped" id="PTOGroups">
                            <thead><tr><th>Group Name</th></tr></thead>
                            <tbody>
                                <%if(locals.pto_approvers) { %>
                                    <%for(var key in pto_approvers) { %>
                                        <tr>
                                            <td>
                                                <span id="spnPtoApprover<%=key%>"><%=pto_approvers[key]%></span><input type="text" id="txtPtoApprover<%=key%>" value="<%=pto_approvers[key]%>" style="display:none">
                                            </td>
                                            <td>
                                                <span class="glyphicon glyphicon-edit" data-id="<%=key%>" id="editPTOApproverGroup" style="cursor:pointer" class="editPTOApproverGroup"></span>
                                                <span class="glyphicon glyphicon-remove" data-id="<%=key%>" id="deletePTOApproverGroup" style="cursor:pointer"></span>
                                                <button name="submit" id="btnUpdatePTOApproverGroup" type="submit" data-id="<%=key%>" class="btn btn-md btn-black" style="display:none">Update</button>
                                            </td>
                                        </tr>
                                    <% } %> 
                                <% } %>
                            </tbody>
                        </table>
                    </div>                   
                </div>
            </div>
        </section>        
        <!-- End About Section-->
        <% include ./partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ./partials/scripts %>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $("#PTOGroups").on("click", "#editPTOApproverGroup", function(e) {
                var ID = $(this).data('id');
                $('#txtPtoApprover'+ID).show();
                $('#spnPtoApprover'+ID).hide();
                $(this).next().next().show();
                $(this).hide();
                $(this).next().hide();
            });

             $("#PTOGroups").on("click", "#btnUpdatePTOApproverGroup", function(e) {
                e.preventDefault();
                var button = $(this);
                var ID = $(this).data('id');
                data = {};
                data.id = ID;
                data.value = $('#txtPtoApprover'+ID).val();
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/updatePTOApprovers',
                    success: function(data) {
                        $('#txtPtoApprover'+ID).hide();
                        $('#spnPtoApprover'+ID).show();
                        $('#spnPtoApprover'+ID).text($('#txtPtoApprover'+ID).val());
                        button.prev().prev().show();
                        button.hide();
                        button.prev().show();
                    }
                });
            });

             $("#PTOGroups").on("click", "#deletePTOApproverGroup", function(e) {
                e.preventDefault();
                var ID = $(this).data('id');
                data = {};
                data.id = ID;
                thisObject = $(this);
                if(confirm("Are you sure you want to delete this Entry?")) {
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        url: '/deletePTOApprovers',
                        success: function(data) {
                            thisObject.closest('tr').remove();
                        },
                        error: function(xhr, ajaxOptions, throwError) {
                            alert(xhr.status);
                            alert(thrownError);
                        }
                    });
                }
            });
        });
    </script>
</html>