
<!doctype html>
<html>
  <head>
      <% include ./partials/head %>
  </head>
  <body>
    <div class="wrapper">
      <% include ./partials/header %>
      <!--About Section-->
      <section id="about" class="wow fadeIn ptb ptb-sm-80" style="padding-top:100px">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <form method="post" action="addAsset">
                <input type="text" id="txtAssetName" name="txtAssetName" placeholder="Asset Name">
                <label>Select list</label>
                <select id = "ddlStatus" name="ddlStatus">
                  <% for(x=0;x<=statuses.length-1;x++) { %>
                    <option value="<%=statuses[x].Status_ID%>"><%=statuses[x].Status_Name%></option>
                  <% } %>
                </select>
                <button name="btnAddAsset" id="btnAddAsset" type="submit" class="btn btn-md btn-warning">Add Asset</button>
              </form>
            </div>
          </div>
        </div>
      </section>        
      <!-- End About Section-->
      <% include ./partials/footer %>
      <!-- End CONTENT -->
    </div>
  </body>
</html>