
<!doctype html>
<html>
  <head>
      <% include ./partials/head %>
  </head>
  <body>
    <div class="wrapper">
      <% include ./partials/header %>
      <!--About Section-->
      <section id="about" class="wow fadeIn ptb ptb-sm-80" style="padding-top:100px">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <form method="post" action="addAsset">
                <div>
                  <input type="text" id="txtAssetName" name="txtAssetName" placeholder="Asset Name">
                </div>
                <div>
                  <input type="text" id="txtAssetSerial" name="txtAssetSerial" placeholder="Asset Serial Number">
                </div>
                <div>
                  <select id = "ddlStatus" name="ddlStatus">
                    <% for(x=0;x<=statuses.length-1;x++) { %>
                      <option value="<%=statuses[x].Status_ID%>"><%=statuses[x].Status_Name%></option>
                    <% } %>
                  </select>
                </div>
                <button name="btnAddAsset" id="btnAddAsset" type="submit" class="btn btn-md btn-warning">Add Asset</button>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <strong>Colleges</strong>
              <table class="table table-striped" id="tblAssetss">
                  <thead><tr><th>Asset Name</th><th>Serial Number</th></tr></thead>
                  <tbody>
                      <%if(locals.assets) { %>
                          <%for(var key in assets) { %>
                            <tr>
                                <td>
                                    <span id="spnAssetName<%=assets[key].asset_id%>"><%=assets[key].Asset_Name%></span><input type="text" id="txtAsset<%=assets[key].asset_id%>" value="<%=assets[key].asset_name%>" style="display:none">
                                </td>
                                <td>
                                    <span id="spnAssetSerial<%=assets[key].asset_id%>"><%=assets[key].Serial_Number%></span><input type="text" id="txtAssetSerial<%=assets[key].asset_id%>" value="<%=assets[key].serial_number%>" style="display:none">
                                </td>                                                                                                                                    
                                <td>
                                    <span class="glyphicon glyphicon-edit" data-id="<%=assets[key].asset_id%>" id="editAsset" style="cursor:pointer"></span>
                                    <span class="glyphicon glyphicon-remove" data-id="<%=assets[key].asset_id%>" id="deleteAsset" style="cursor:pointer"></span>
                                    <button name="submit" id="btnUpdateAsset" type="submit" data-id="<%=assets[key].asset_id%>" class="btn btn-md btn-black" style="display:none">Update</button>
                                </td>
                            </tr>
                          <% } %>
                      <% } %>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>        
      <!-- End About Section-->
      <% include ./partials/footer %>
      <!-- End CONTENT -->
    </div>
  </body>
</html>