<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ./partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <form method="post" action="/assignPrimeSec">
                            <div id="dvAddPrimeSecInfo">
                                <div>
                                    <div class="entryField">
                                        <div>
                                            <label for="pto_usernames" class="entryFieldlabel">Username</label>
                                        </div>
                                        <select id="pto_usernames" name="pto_usernames">
                                            <option value="" disabled selected hidden>--Select--</option>
                                        <% if(locals.pto_username) { %>
                                            <% for(var x=0; x<pto_username.length; x++) { %>
                                                <option value="<%=pto_username[x]%>"><%=pto_username[x]%></option>
                                            <% } %>
                                        <% } %>
                                        </select>
                                    </div>
                                    <div class="entryField">
                                        <div>
                                            <label for="ddlDay"  class="entryFieldlabel">Day</label>
                                        </div>
                                        <select id="ddlDay" name="ddlDay">
                                            <option value="" disabled selected hidden>Select</option>
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="D">D</option>
                                        </select>
                                    </div>                                
                                </div>
                                <div>
                                    <div class="entryField">
                                        <div>
                                            <label for="ddlValue" class="entryFieldlabel">Primary/Secondary</label>
                                        </div>
                                        <select id="ddlValue" name="ddlValue">
                                            <option value="" disabled selected hidden>Select</option>
                                            <option value="Primary">Primary</option>
                                            <option value="Secondary">Secondary</option>
                                            <option value="Tertiary">Tertiary</option>
                                        </select>
                                        
                                    </div>
                                    <div class="entryField">
                                        <div>
                                            <label for="ddlPeriod" class="entryFieldlabel">Period</label>
                                        </div>
                                        <select id="ddlPeriod" name="ddlPeriod">
                                            <option value="" disabled selected hidden>Select</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button name="submit" id="btnAddPrimeSec" type="submit" class="btn btn-md btn-black">Add Teacher</button>
                        </form>
                    </div>
                </div>
                <div class="row" style="padding-top:20px">
                    <div class="col-lg-12">
                        <div id="dvPrimeSec" class="results-list">
                            <strong>Current Primary / Secondary Subs</strong>
                            <table class="table table-striped">
                                <thead><tr><th>Username</th><th>Primary/Secondary</th><th>Day</th><th>Period</th><tr></thead>
                                <tbody>
                                     <% if(locals.PrimeSec) { %>
                                        <% for(var x=0; x<PrimeSec.length; x++) { %>
                                            <tr>
                                                <td><%=PrimeSec[x].subs_ps_assign_user%></td>
                                                <td>
                                                    <span id="spnVal<%=PrimeSec[x].subs_ps_assign_id%>"><%=PrimeSec[x].subs_ps_assign_value%></span>
                                                    <input type="text" value="<%=PrimeSec[x].subs_ps_assign_value%>" id="txtVal<%=PrimeSec[x].subs_ps_assign_id%>" style="display:none">
                                                </td>
                                                <td>
                                                    <span id="spnDay<%=PrimeSec[x].subs_ps_assign_id%>"><%=PrimeSec[x].subs_ps_assign_day%></span>
                                                    <input type="text" value="<%=PrimeSec[x].subs_ps_assign_day%>" id="txtDay<%=PrimeSec[x].subs_ps_assign_id%>" style="display:none">
                                                </td>
                                                <td>
                                                    <span id="spnPeriod<%=PrimeSec[x].subs_ps_assign_id%>"><%=PrimeSec[x].subs_ps_assign_period%></span>
                                                    <input type="text" value="<%=PrimeSec[x].subs_ps_assign_period%>" id="txtPeriod<%=PrimeSec[x].subs_ps_assign_id%>" style="display:none">
                                                </td>
                                                <td>
                                                    <span class="glyphicon glyphicon-edit" data-id="<%=PrimeSec[x].subs_ps_assign_id%>" id="editPrimeSecEntry" style="cursor:pointer"></span>
                                                    <span class="glyphicon glyphicon-remove" data-id="<%=PrimeSec[x].subs_ps_assign_id%>" id="deletePrimeSecEntry" style="cursor:pointer"></span>
                                                    <button name="submit" id="btnUpdatePrimeSecEntry" type="submit" data-id="<%=PrimeSec[x].subs_ps_assign_id%>" class="btn btn-md btn-black" style="display:none">Update</button>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <% include ./partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ./partials/scripts %>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $("#dvPrimeSec").on("click", "#editPrimeSecEntry", function(e) {
                var ID = $(this).data('id');
                $('#txtVal'+ID).show();
                $('#txtDay'+ID).show();
                $('#txtPeriod'+ID).show();
                $('#spnVal'+ID).hide();
                $('#spnDay'+ID).hide();
                $('#spnPeriod'+ID).hide();
                $(this).next().next().show();
                $(this).hide();
                $(this).next().hide();
            });

            $("#dvPrimeSec").on("click", "#btnUpdatePrimeSecEntry", function(e) {
                e.preventDefault();
                var button = $(this);
                var ID = $(this).data('id');
                data = {};
                data.id = ID;
                data.value = $('#txtVal'+ID).val();
                data.day = $('#txtDay'+ID).val();
                data.period = $('#txtPeriod'+ID).val();
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/updatePrimeSec',
                    success: function(data) {
                        $('#txtVal'+ID).hide();
                        $('#txtDay'+ID).hide();
                        $('#txtPeriod'+ID).hide();
                        $('#spnVal'+ID).show();
                        $('#spnDay'+ID).show();
                        $('#spnPeriod'+ID).show();
                        $('#spnVal'+ID).text($('#txtVal'+ID).val());
                        $('#spnDay'+ID).text($('#txtDay'+ID).val());
                        $('#spnPeriod'+ID).text($('#txtPeriod'+ID).val());
                        button.prev().prev().show();
                        button.hide();
                        button.prev().show();
                    }
                });
            });

            $("#dvPrimeSec").on("click", "#deletePrimeSecEntry", function(e) {
                e.preventDefault();
                var ID = $(this).data('id');
                data = {};
                data.id = ID;
                thisObject = $(this);
                if(confirm("Are you sure you want to delete this Entry?")) {
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        url: '/deletePrimeSec',
                        success: function(data) {
                            thisObject.closest('tr').remove();
                        },
                        error: function(xhr, ajaxOptions, throwError) {
                            alert(xhr.status);
                            alert(thrownError);
                        }
                    });
                }
            });
        });
    </script>
</html>