<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ./partials/header %>
        <!--About Section-->
        <div id="subModal" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Avaliable Subs</h4>
              </div>
              <div class="modal-body subs-flex">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row" style="padding-top:40px">
                    <div class="col-lg-4">
                        <div><strong>PTO Requests</strong></div>
                        <div id="addPtos" class="ptos">
                            <div style="float:left;margin-right:20px">
                                <label for="pto_select" class="entryLabel">Search Date</label>
                                <%if(locals.date) { %>
                                    <input type="date" id="pto_select" name="pto_select" placeholder="MM/DD/YYYY" class="entryInput" value="<%=date%>">
                                <% } else { %>
                                    <input type="date" id="pto_select" name="pto_select" placeholder="MM/DD/YYYY" class="entryInput">
                                <% } %>              
                            </div>
                            <div style="float:left;margin-top:30px">
                                <button name="submit" id="btnSearchPTO" type="submit" class="btn btn-md btn-black">Search for PTO</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div  style="padding-top:40px">
                    <div class="col-lg-12">
                        <div id="ptos" class="ptos">
                            <table class="table table-striped" id="classes">
                                <thead align="center">
                                    <tr>
                                        <th class="text-center">Teacher</th>
                                        <%for(var x=0; x<=needs.schedule.length-1;x++) { %>
                                            <th class="text-center"><%=needs.schedule[x].period_abbreviation%></th>
                                        <% } %>
                                    </tr>
                                </thead>
                                <% if(locals.periods) { %>
                                    <% for(var key in periods) {%>
                                        <tr>
                                            <td><%=key%></td>
                                            <%var counter = 0; %>
                                            <% for(var key2 in periods[key]) { %>
                                                <%if(typeof periods[key][key2].class_id !== 'undefined') {%>
                                                     <%if(key2 == "P"+periods[key][key2].class_id[0].period_number) { %>
                                                        <td>
                                                            <div id="P<%=periods[key][key2].class_id[0].period_number%><%=key%>" 
                                                                data-period-id="<%=needs.schedule[counter].period_id%>" data-start-time="<%=needs.schedule[counter].start%>" data-end-time="<%=needs.schedule[counter].end%>" 
                                                                data-course-name="<%=periods[key][key2].class_id[0].course_name%>"
                                                                data-room="<%=periods[key][key2].class_id[0].room%>" 
                                                                data-pto-class-id="<%=periods[key][key2].pto_classes_id%>" 
                                                                data-cycle-day="<%=needs.schedule[0].cycle_day_letter%>" 
                                                                data-period-number="<%=periods[key][key2].class_id[0].period_number%>"
                                                                data-teacher="<%=needs.teachersAbsent[key].name%>"
                                                                class="free-teachers">
                                                                <%=periods[key][key2].class_id[0].course_name%><br />Room: <%=periods[key][key2].class_id[0].room%>
                                                             </div>
                                                             <div>
                                                                <%if(periods[key][key2].assigned == 1) { %>
                                                                    <span id="A<%=periods[key][key2].pto_classes_id%>" class='assigned'>Assigned</span>
                                                                    <br /><span class="btn btn-primary deleteSub" id="D<%=periods[key][key2].pto_classes_id%>">Remove Assignment</span>
                                                                <% } %>
                                                            </div>
                                                        <%counter++;%>
                                                        </td>
                                                    <% } %>
                                                <% } else { %>
                                                    <td><%counter++;%></td>
                                                <% } %>
                                            <% } %>  
                                        </tr>
                                    <% } %>
                                <% } %>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <ul class='custom-menu'></ul>
        <!-- End About Section-->
        <% include ./partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ./partials/scripts %>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $('.free-teachers').click(function(e) {
                e.preventDefault();
                var parent_id = $(this).attr("id");
                var data = {};
                data.period_id = $(this).data("period-id");
                data.date = $('#pto_select').val();
                var start_time = $(this).data("start-time");
                var end_time = $(this).data("end-time");
                var course_name = $(this).data("course-name");
                data.start_time = start_time;
                data.end_time = end_time;
                var room = $(this).data("room");
                var pto_class_id = $(this).data("pto-class-id");
                data.day_cycle = $(this).data("cycle-day");
                var period_number = $(this).data("period-number");
                data.period_number = period_number;
                let teacher = $(this).data("teacher");
                var td = $(this);
                var message = "";
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/getFreeTeachers',
                    success: function(data) {
                        $(".modal-body").empty();
                        data.forEach(function(users) {
                            message += '<div class="subs-child">';
                            message += '<span class="context-menu-user">';
                            message += users.name;
                            message += '</span><span class="context-menu-user" style="float:right">';
                            message += '<a id="assignSub" onClick="assign_the_sub(this);" data-email="'+users.name+"@cristoreyjesuit.org"+'" data-start-time="'+start_time+'"  data-end-time="'+end_time+'" data-course-name="'+course_name+'" data-room="'+room+'" data-pto-class-id="'+pto_class_id+'" data-parent-id="'+parent_id+'" data-teacher="'+teacher+'" data-period-number="'+period_number+'">Assign Sub</a>';
                            message += '</span>';
                            message += '<div>';
                            if(users.PrimeSec) {
                                message += "<span class='"+ users.PrimeSec.toLowerCase()+"'>" + users.PrimeSec+ "</span>";
                            }
                            message += '<span style="padding-left:5px">S:'+users.classes+'</span>';
                            message += '<span style="padding-left:5px">C:'+users.numClasses+'</span>';
                            message += '</div>';
                            message += '</div>';
                        });
                        $(".modal-body").html(message);
                        $('#subModal').modal('toggle');
                    }
                });
            });
            $('.deleteSub').click(function() {
                var parent_id = $(this).attr("id");
                var data = {};
                data.id = parent_id.substring(1);
                var td = $(this);
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/deleteSub',
                    success: function(data) {
                        $('#A'+parent_id.substring(1)).remove();
                        $('#'+parent_id).remove();
                    }
                });
            });
            $(document).bind("mousedown", function (e) {  
                // If the clicked element is not the menu
                if (!$(e.target).parents(".custom-menu").length > 0) {      
                    // Hide it
                    $(".custom-menu").empty();
                    $(".custom-menu").hide(100);
                }
            });
            $('#btnSearchPTO').click(function(e) {
                e.preventDefault();
                var message = "";
                var data = {};
                data.date = moment($('#pto_select').val()).format("YYYY-MM-DD");
                window.location.assign("/subassignment/"+data.date);
            });                   
        });
        function assign_the_sub(param) {
            var data = {};
            data.email = param.getAttribute('data-email');
            data.start_time = param.getAttribute('data-start-time');
            data.end_time = param.getAttribute('data-end-time');
            data.course_name = param.getAttribute('data-course-name');
            data.room = param.getAttribute('data-room');
            data.pto_class_id = param.getAttribute('data-pto-class-id');
            data.date = $('#pto_select').val();
            data.teacher = param.getAttribute('data-teacher');
            data.period_number = param.getAttribute('data-period-number');
            var parent_id = param.getAttribute('data-parent-id');
            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                url: '/assignSubToClass',
                success: function(data) {
                    if($('#'+parent_id).find('.assigned').length==0) {
                        $('#'+parent_id).append("<br /><span class='assigned'>Assigned</span>");
                    }
                    $(".modal-body").empty();
                    $('#subModal').modal('toggle');
                }
            });
        }
    </script>
</html>