<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ./partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row text-center">
                    <form method="post" action="/assignpto">
                        <div class="col-lg-12">
                            Select Username: 
                            <select id="pto_usernames" name="pto_usernames">
                                <option value="">--Select--</option>
                                <% if(locals.pto_username) { %>
                                    <% for(var x=0; x<pto_username.length; x++) { %>
                                        <option value="<%=pto_username[x]%>"><%=pto_username[x]%></option>
                                    <% } %>
                                <% } %>
                            </select>
                        </div>
                        <div class="col-lg-4" style="padding-top:55px">
                            <div class="add-pto">
                            <strong>Add New PTO Request</strong>
                                    <div>
                                        <input type="date" name="pto_date" id="pto_date" placeholder="MM/DD/YYYY">
                                    </div>
                                    <div style="clear:both">
                                        <input type="checkbox" id="half_day" name="half_day" value=".5">Check if request is for a Half Day PTO
                                    </div>
                                    <div style="clear:both">
                                        <textarea rows="10" cols="50" name="pto_notes" id="pto_notes" placeholder="Notes...."></textarea>
                                    </div>
                                    <div>
                                        <button name="submit" id="btnAddPto" type="submit" class="btn btn-md btn-black">Submit Request</button>
                                    </div>
                            </div>
                        </div>
                        <%if(isFaculty) { %>
                            <div class="col-lg-8" style="padding-top:55px">
                                <div class="loader-container"></div>
                                <div class="loader"></div>
                                <div class="pto-class-info">Request Type
                                    <% if(locals.request_types) { %>
                                        <select id="request_type" name="request_type">
                                            <% request_types.forEach(function(item) { %>
                                                <option value="<%=item.pto_request_type_id%>"><%=item.pto_request_type_name%></option>
                                            <% }); %>
                                        </select>
                                    <% } %>
                                    <div id="duties">
                                        <input type="checkbox" id="chkAM" name="duty[]" value="am"><label for="am">AM Duty</label>
                                        <input type="checkbox" id="chkPM" name="duty[]" value="pm"><label for="pm">PM Duty</label>
                                        <input type="checkbox" id="chkLunch" name="duty[]" value="lunch"><label for="lunch">Lunch Duty</label>
                                        <input type="checkbox" id="chkPH" name="duty[]" value="ph"><label for="ph">PH Duty</label>
                                    </div>
                                    <table id="tblClasses" class="table table-striped">
                                        <thead>
                                            <th><input type="checkbox" id="chkSelectAll"></th>
                                            <th>Period</th>
                                            <th>Course</th>
                                            <th>Class</th>
                                            <th>Section</th>
                                            <th>Room</th>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        <% } %>
                    </form>
                </div>
                <div class="row" style="padding-top:20px">
                    <div class="col-lg-6">
                        <div class="alert alert-warning" style="display:none" id="blackoutAlert">
                          <strong>Warning!</strong> You may not take PTO on this date because it is a work day before a long holiday weekend or there is a special event on campus on this date. If you require this date of for a special reason, it would not be a paid day off so your regular pay amount would be reduced by one day's pay. Please seek permission from the Principal and/or Dean of Academics.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <% include ./partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ./partials/scripts %>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $('.loader-container').hide();
            $('.loader').hide();
            $(document).on("click", "#pto_search", function(e) {
                e.preventDefault();
                var data = {};
                data.pto_id = $(this).data("id");
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/deletePTO',
                    success: function(data) {
                        window.location.assign("/pto");
                    }
                });
            });
            $(document).on("click", "#btnAddPto", function(e) {
                var switcher = false;
                if($(pto_usernames).val() == "") {
                    alert("You must select a teacher to continue!");
                    e.preventDefault();
                }
                if($(pto_date).val() == "") {
                    alert("You must enter a date to continue!");
                    e.preventDefault();
                }
            });
            $('#chkSelectAll').on("change", function(d){
                var checked = this.checked;
                $('.classChks').each(function(d,i) {
                    this.checked = checked;
                });
            });
            $('#pto_date').on("change", function(e){
                e.preventDefault();
                getClasses();
            });
            $('#pto_usernames').on("change", function(e){
                e.preventDefault();
                getClasses();
            });
            $('.classChks').on("change", function(d){
                if(false == $(this).prop("checked")){ //if this item is unchecked
                    $("#chkSelectAll").prop('checked', false); //change "select all" checked status to false
                }
                //check "select all" if all checkbox items are checked
                if ($('.classChks:checked').length == $('.classChks').length ){
                    $("#chkSelectAll").prop('checked', true);
                }
            });
        });
        function getClasses() {
            var data = {};
            data.pto_date = $('#pto_date').val();
            data.pto_username = $('#pto_usernames').val();
            if(data.pto_date != "" && data.pto_username != "") {
                $('.loader-container').show();
                $('.loader').show();
                var message= "";
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/getClasses',
                    success: function(data) {
                        $('#tblClasses tbody').empty();
                        data.classes.forEach(function(section) {
                            message += '<tr>';
                            message += '<td><input type="checkbox" id="section'+section.section_id+'" value="'+section.section_id+'" name="classChks[]" class="classChks">';
                            message += '<td>'+section.period_number+'</td>';
                            message += '<td>'+section.course_number+'</td>';
                            message += '<td>'+section.course_name+'</td>';
                            message += '<td>'+section.section_id+'</td>';
                            message += '<td>'+section.room+'</td>';
                            message += '</tr>';
                        });
                        $('#tblClasses').append(message);
                        $('.loader-container').hide();
                        $('.loader').hide();
                    }
                });
            } 
        }
    </script>
</html>