<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ./partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row" style="padding-top:20px">
                    <div class="col-lg-3">
                        <form method="post" action="/blackoutDates">
                            <strong>Add Blackout Date</strong>
                            <div>
                                <div>
                                    <label for="txtBlackoutDate" class="entryFieldlabel">Blackout Date</label>
                                </div>
                                    <input type="text" id="txtBlackoutDate" name="txtBlackoutDate" placeholder="MM/DD/YYYY">
                            </div>
                            <div>
                                <div>
                                    <label for="txtBlackoutDescription" class="entryFieldlabel">Description</label>
                                </div>
                                    <input type="text" id="txtBlackoutDescription" name="txtBlackoutDescription" placeholder="Description">
                            </div>                               
                            <button name="submit" id="btnBlackoutDate" type="submit" class="btn btn-md btn-black">Add Blackout Date</button>
                        </form>
                    </div>
                </div>
                <div class="row" style="padding-top:20px">
                    <div class="col-lg-6">
                        <strong>Blackout Dates</strong>
                        <table class="table table-striped" id="BlackoutDates">
                            <thead><tr><th>Blackout Date</th><th>Description</th></tr></thead>
                            <tbody>
                                <%if(locals.results) { %>
                                    <%for(var key in results) { %>
                                        <tr>
                                            <td>
                                                <span id="spnBlackoutDate<%=key%>"><%=results[key].date%></span><input type="text" id="txtBlackoutDate<%=key%>" value="<%=results[key].date%>" style="display:none">
                                            </td>
                                            <td>
                                                <span id="spnBlackoutDescription<%=key%>"><%=results[key].description%></span><input type="text" id="txtBlackoutDescription<%=key%>" value="<%=results[key].description%>" style="display:none">
                                            </td>                                           
                                            <td>
                                                <span class="glyphicon glyphicon-edit" data-id="<%=key%>" id="editBlackoutDate" style="cursor:pointer"></span>
                                                <span class="glyphicon glyphicon-remove" data-id="<%=key%>" id="deleteBlackoutDate" style="cursor:pointer"></span>
                                                <button name="submit" id="btnUpdateBlackoutDate" type="submit" data-id="<%=key%>" class="btn btn-md btn-black" style="display:none">Update</button>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% } %>
                            </tbody>
                        </table>
                    </div>                   
                </div>
            </div>
        </section>        
        <!-- End About Section-->
        <% include ./partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ./partials/scripts %>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $("#BlackoutDates").on("click", "#editBlackoutDate", function(e) {
                var ID = $(this).data('id');
                $('#txtBlackoutDate'+ID).show();
                $('#txtBlackoutDescription'+ID).show();
                $('#spnBlackoutDate'+ID).hide();
                $('#spnBlackoutDescription'+ID).hide();
                $(this).next().next().show();
                $(this).hide();
                $(this).next().hide();
            });

             $("#BlackoutDates").on("click", "#btnUpdateBlackoutDate", function(e) {
                e.preventDefault();
                var button = $(this);
                var ID = $(this).data('id');
                data = {};
                data.id = ID;
                data.date = $('#txtBlackoutDate'+ID).val();
                data.description = $('#txtBlackoutDescription'+ID).val();
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/updateBlackoutDate',
                    success: function(data) {
                        $('#txtBlackoutDate'+ID).hide();
                        $('#txtBlackoutDescription'+ID).hide();
                        $('#spnBlackoutDate'+ID).show();
                        $('#spnBlackoutDescription'+ID).show();
                        $('#spnBlackoutDate'+ID).text($('#txtBlackoutDate'+ID).val());
                        $('#spnBlackoutDescription'+ID).text($('#txtBlackoutDescription'+ID).val());
                        button.prev().prev().show();
                        button.hide();
                        button.prev().show();
                    }
                });
            });

             $("#BlackoutDates").on("click", "#deleteBlackoutDate", function(e) {
                e.preventDefault();
                var ID = $(this).data('id');
                data = {};
                data.id = ID;
                thisObject = $(this);
                if(confirm("Are you sure you want to delete this Entry?")) {
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        url: '/deleteBlackoutDate',
                        success: function(data) {
                            thisObject.closest('tr').remove();
                        },
                        error: function(xhr, ajaxOptions, throwError) {
                            alert(xhr.status);
                            alert(thrownError);
                        }
                    });
                }
            });
        });
    </script>
</html>