<!doctype html>
<html>
  <head>
      <% include ./partials/head %>
  </head>
  <body>
    <div class="wrapper">
      <% include ./partials/header %>
      <!--About Section-->
      <section id="about" class="wow fadeIn ptb ptb-sm-80" style="padding-top:100px">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
      				<form method="post" action="/addCheckOut">
                <div>
                  <label>Select Assset</label><br />
        					<select id="ddlAsset" name="ddlAsset">
        						<% for( x=0; x<=assets.length-1;x++){%>
        							<option value="<%=assets[x].Asset_ID%>"><%=assets[x].Asset_Name%></option>
        						<% } %> 
        					</select>
                </div>
                <div>
                  <input type="text" id="username" name="username" list="student-datalist" placeholder="Type to search for Student" style="width:250px">
                  <datalist id="student-datalist"></datalist>
        					</select>	
      					</div>
                <div>
                    <textarea rows="10" cols="50" name="notes" id="notes" placeholder="Notes...."></textarea>
                </div>
                <div>
                  <label>Due Date</label><br />
                  <input type="date" id="due_date" name="due_date">
      					</div>
                <div>
                  <input type="submit" value="Submit">
                </div>
      				</form>
            </div>
          </div>
        </div>
      </section>        
      <!-- End About Section-->
      <% include ./partials/footer %>
      <!-- End CONTENT -->
    </div>
    <% include ./partials/scripts %>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {           
          var dataList = document.getElementById('student-datalist');
          var input = document.getElementById('students');
          $.ajax({
              type: 'POST',
              contentType: 'application/json',
              url: '/getStudents',
              success: function(data) {
                  for(var key in data) {
                      var option = document.createElement('option');
                      option.value = key;
                      option.text = data[key].username;
                      dataList.appendChild(option);   
                  }
              }
          });
      });
    </script>
  </body>
</html>				