<!doctype html>
<html>
  <head>
      <% include ./partials/head %>
  </head>
  <body>
    <div class="wrapper">
      <% include ./partials/header %>
      <!--About Section-->
      <section id="about" class="wow fadeIn ptb ptb-sm-80" style="padding-top:100px">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <% JSON.stringify(Assets,null,2) %>
      				<table class="table table-striped" id="tblCheckouts">
      					<thead>
      						<tr>
      							<td> Asset Name </td>
      							<td> Username </td>
      							<td> Due Date </td>
      						</tr>
      					</thead>
      					<tbody>
    							<%for(x = 0; x < Assets.length;x++) { %>
                    <tr>
                      <td><%= Assets[x].Asset_Name%></td>
                      <td><%= Assets[x].Username%></td>
                      <td><%= moment(Assets[x].Due_Date).format("MM/DD/YYYY")%></td>
                      <td>
                        <button name="btnCheckInAsset" id="btnCheckInAsset" type="submit" class="btn btn-md btn-warning" data-id="<%=Assets[x].Checkout_ID%>" data-assetid="<%=Assets[x].Asset_ID%>">Check In</button>
                      </td> 
                    </tr>
                  <% } %>
      					</tbody>
      				</table>
            </div>
          </div>
        </div>
      </section>        
      <!-- End About Section-->
      <% include ./partials/footer %>
      <!-- End CONTENT -->
    </div>
    <% include ./partials/scripts %>
    <script type="text/javascript" language="javascript">
      $(document).ready(function() {
        $("#tblCheckouts").on("click", "#btnCheckInAsset", function(e) {;
          e.preventDefault();
          var button = $(this);
          var ID = $(this).data('id');
          data = {};
          data.Checkout_ID = ID;
          data.Asset_ID = $(this).data('assetid');
          $.ajax({
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            url: '/updateCheckout',
            success: function(data) {
              button.closest('tr').remove();
            }
          });
        });
      });
      </script>
  </body>
</html>				