<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <% include ./partials/header %>
    <div class="sidebar_wrapper">
        <!--About Section-->
            <% include ./partials/sidebar %>
            <div id="content">
                <div class="row text-center">
                    <div class="col-lg-12">
                        <% if(login) { %>
                            <div id="ptoTools" class="button_dashboards">
                                <span class="adminbutton" onclick="linkaddress('PTO');"><div class="glyphicon glyphicon-time fa-4x"></div><div class="buttontext">PTO</div></span>
                                <% if(canApprovePTO) { %>
                                    <span class="adminbutton" onclick="linkaddress('PTOApproval');"><div class="glyphicon glyphicon-time fa-4x"></div><div class="buttontext">PTO Approvals</div></span>
                                    <span class="adminbutton" onclick="linkaddress('BlackoutDates');"><div class="glyphicon glyphicon glyphicon-edit fa-4x"></div><div class="buttontext">Blackout Dates</div></span>
                                <% } %>
                                <% if(canDeletePTO) { %>
                                    <span class="adminbutton" onclick="linkaddress('SearchDeleteDates');"><div class="glyphicon glyphicon glyphicon-edit fa-4x"></div><div class="buttontext">Search and Delete PTO</div></span>
                                <% } %>
                                <% if(canViewPTOReports) { %>
                                    <span class="adminbutton" onclick="linkaddress('PTOReports');"><div class="glyphicon glyphicon glyphicon-edit fa-4x"></div><div class="buttontext">PTO Reports</div></span>
                                <% } %>
                                <% if(canApprovePTO) { %>
                                    <span class="adminbutton" onclick="linkaddress('OverrideCode');"><div class="glyphicon glyphicon-time fa-4x"></div><div class="buttontext">Blackout Override</div></span>                                  
                                <% } %>
                            </div>
                            <div id="phTools" class="button_dashboards">
                                <span class="adminbutton" onclick="linkaddress('assignPH');"><div class="glyphicon glyphicon glyphicon-edit fa-4x"></div><div class="buttontext">Give a PH</div></span>
                                <span class="adminbutton" onclick="linkaddress('phReports');"><div class="glyphicon glyphicon glyphicon-edit fa-4x"></div><div class="buttontext">PH Reports</div></span> 
                            </div>
                            <% if(canAssignSubs) { %>
                                <div id="subTools" class="button_dashboards">
                                    <span class="adminbutton" onclick="linkaddress('SubAssignment');"><div class="glyphicon glyphicon-time fa-4x"></div><div class="buttontext">Assign Subs</div></span>
                                    <span class="adminbutton" onclick="linkaddress('PrimeSec');"><div class="glyphicon glyphicon glyphicon-edit fa-4x"></div><div class="buttontext">Assign Primary/Secondary Subs</div></span>
                                    <span class="adminbutton" onclick="linkaddress('AssignPTO');"><div class="glyphicon glyphicon glyphicon-edit fa-4x"></div><div class="buttontext">Assign PTO</div></span>
                                </div>
                            <% } %>
                            <% if(allowCollege) { %>
                                <div id="collegeFinancialTools" class="button_dashboards">
                                    <span class="adminbutton" onclick="linkaddress('Colleges');"><div class="glyphicon glyphicon glyphicon-edit fa-4x"></div><div class="buttontext">Colleges</div></span>
                                    <span class="adminbutton" onclick="linkaddress('Grants');"><div class="glyphicon glyphicon glyphicon-edit fa-4x"></div><div class="buttontext">Grants</div></span>
                                    <span class="adminbutton" onclick="linkaddress('FundingTypes');"><div class="glyphicon glyphicon glyphicon-edit fa-4x"></div><div class="buttontext">Funding Types</div></span>
                                    <span class="adminbutton" onclick="linkaddress('FillGrants');"><div class="glyphicon glyphicon glyphicon-edit fa-4x"></div><div class="buttontext">Zero EFC Grants</div></span>
                                    <hr style="width:100%">
                                    <h2>Student Profiles</h2>
                                    <hr style="width:100%">
                                    <input type="text" id="students" name="students" list="student-datalist" placeholder="Type to search for Student" style="width:250px">
                                    <datalist id="student-datalist"></datalist>
                                    <hr style="width:100%;height:0px">
                                    <button name="submit" id="btnStudentSearch" type="submit" class="btn btn-md btn-black">Search</button>
                                </div>

                            <% } %>
                            <div id="adminTools" class="button_dashboards">
                                <% if(systemAdmin) { %>
                                    <span class="adminbutton" onclick="linkaddress('AdminPortal');"><div class="glyphicon glyphicon-time fa-4x"></div><div class="buttontext">Admin Portal</div></span>
                                    <span class="adminbutton" onclick="linkaddress('AdditionalDays');"><div class="glyphicon glyphicon-time fa-4x"></div><div class="buttontext">Add PTO Days</div></span>
                                <% } %>
                            </div>
                            <div id="itAdminTools" class="button_dashboards">
                                <% if(itAdmin) { %>
                                    <span class="adminbutton" onclick="linkaddress('Assets');"><div class="glyphicon glyphicon-time fa-4x"></div><div class="buttontext">Assets</div></span>
                                    <span class="adminbutton" onclick="linkaddress('CheckOutAsset');"><div class="glyphicon glyphicon-time fa-4x"></div><div class="buttontext">Check Out</div></span>
                                    <span class="adminbutton" onclick="linkaddress('CheckInAsset');"><div class="glyphicon glyphicon-time fa-4x"></div><div class="buttontext">Check In</div></span>
                                <% } %>
                            </div>                            
                        <% } else {%>
                            You are not logged in so you cannot see anything!
                        <% } %>
                    </div>
                </div>
            </div>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ./partials/footer %>
    <% include ./partials/scripts %>
    <script type="text/javascript" language="javascript">
        $('#phTools').hide();
        $('#subTools').hide();
        $('#adminTools').hide();
        $('#collegeFinancialTools').hide();
        $('#itAdminTools').hide();
        $(document).ready(function() {
            let anchor = sessionStorage.getItem("anchor");
            var dataList = document.getElementById('student-datalist');
            var input = document.getElementById('students');
            $('#'+anchor).click();
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: '/getStudentsByNumber',
                success: function(data) {
                    console.log(data);
                    for(var key in data) {
                        var option = document.createElement('option');
                        option.value = data[key].lastfirst;
                        option.text = data[key].student_number;
                        dataList.appendChild(option);   
                    }
                }
            });
            $(document).on("click", "#btnStudentSearch", function(e) {
                let student_number = $('#student_number').val();
                var $input = $('#students'),
                val = $input.val();
                list = $input.attr('list'),
                match = $('#'+list + ' option').filter(function() {
                   return ($(this).val() === val);
                });
                if(match.length > 0) {
                    window.location = "/student_profile/"+match.text()+"/1";
                    sessionStorage.setItem("anchor","collegefinancialsSidebar");
                } else {
                    alert("You must select a name or enter their ENTIRE username");
                    e.preventDefault();
                }
            });        
        });
        function linkaddress(LinkLocation) {
            if(LinkLocation == "PTO") {
                window.location.assign("/pto");
                sessionStorage.setItem("anchor","ptoSidebar");
            } else if(LinkLocation == "PTOApproval") {
                window.location.assign("/ptoapproval");
                sessionStorage.setItem("anchor","ptoSidebar");
            } else if(LinkLocation == "BlackoutDates") {
                window.location.assign("/blackoutDates");
                sessionStorage.setItem("anchor","ptoSidebar");
            } else if(LinkLocation == "SearchDeleteDates") {
                window.location.assign("/searchPTO");
                sessionStorage.setItem("anchor","ptoSidebar");
            }  else if(LinkLocation == "PTOReports") {
                window.location.assign("/ptoReports");
                sessionStorage.setItem("anchor","ptoSidebar");
            } else if(LinkLocation == "OverrideCode") {
                window.location.assign("/overrideCode");
                sessionStorage.setItem("anchor","ptoSidebar");
            } else if(LinkLocation == "phReports") {
                window.location.assign("/phReports");
                sessionStorage.setItem("anchor","phSidebar");
            } else if(LinkLocation == "assignPH") {
                window.location.assign("/assignPH");
                sessionStorage.setItem("anchor","phSidebar");
            } else if(LinkLocation == "SubAssignment") {
                window.location.assign("/subassignment");
                sessionStorage.setItem("anchor","subsSidebar");
            } else if(LinkLocation == "PrimeSec") {
                window.location.assign("/assignPrimeSec");
                sessionStorage.setItem("anchor","subsSidebar");
            } else if(LinkLocation == "AssignPTO") {
                window.location.assign("/assignpto");
                sessionStorage.setItem("anchor","subsSidebar");
            } else if(LinkLocation == "AdminPortal") {
                window.location.assign("/adminPortal");
                sessionStorage.setItem("anchor","adminsSidebar");
            } else if(LinkLocation == "AdditionalDays") {
                window.location.assign("/adtlDays");
                sessionStorage.setItem("anchor","adminsSidebar");
            } else if(LinkLocation == "Colleges") {
                window.location.assign("/colleges");
                sessionStorage.setItem("anchor","collegefinancialsSidebar");
            } else if(LinkLocation == "FillGrants") {
                window.location.assign("/fillZeroEFCGrants");
                sessionStorage.setItem("anchor","collegefinancialsSidebar");
            } else if(LinkLocation == "Grants") {
                window.location.assign("/grants");
                sessionStorage.setItem("anchor","collegefinancialsSidebar");
            } else if(LinkLocation == "FundingTypes") {
                window.location.assign("/funding_types");
                sessionStorage.setItem("anchor","collegefinancialsSidebar");
            } else if(LinkLocation == "Assets") {
                window.location.assign("/getAsset");
                sessionStorage.setItem("anchor","loanerLaptopsSidebar");                
            } else if(LinkLocation == "CheckOutAsset") {
                window.location.assign("/checkOutAsset");
                sessionStorage.setItem("anchor","loanerLaptopsSidebar");                
            } else if(LinkLocation == "CheckInAsset") {
                window.location.assign("/checkInAsset");
                sessionStorage.setItem("anchor","loanerLaptopsSidebar");                
            }
        }
        $('#ptoSidebar').click(function(e) {
            let anchor = sessionStorage.getItem("anchor");
            if(anchor == 'ptoSidebar') {
                $('#ptoTools').show();
            } else {
                $('#ptoTools').toggle();
            }
            $('#phTools').hide();
            $('#subTools').hide();
            $('#adminTools').hide();
            $('#collegeFinancialTools').hide();
            $('#itAdminTools').hide();
        });
        $('#phSidebar').click(function(e) {
            $('#phTools').toggle();
            $('#subTools').hide();
            $('#adminTools').hide();
            $('#ptoTools').hide();
            $('#collegeFinancialTools').hide();
            $('#itAdminTools').hide();
        });
        $('#subsSidebar').click(function(e) {
            $('#subTools').toggle();
            $('#phTools').hide();
            $('#adminTools').hide();
            $('#ptoTools').hide();
            $('#collegeFinancialTools').hide();
            $('#itAdminTools').hide();
        });
        $('#collegefinancialsSidebar').click(function(e) {
            $('#collegeFinancialTools').toggle()
            $('#adminTools').hide();;
            $('#phTools').hide();
            $('#subTools').hide();
            $('#ptoTools').hide();
            $('#itAdminTools').hide();
        });
        $('#adminsSidebar').click(function(e) {
            $('#adminTools').toggle();
            $('#collegeFinancialTools').hide();
            $('#phTools').hide();
            $('#subTools').hide();
            $('#ptoTools').hide();
            $('#itAdminTools').hide();
        });
        $('#loanerLaptopSidebar').click(function(e) {
            $('#itAdminTools').toggle();
            $('#adminTools').hide();
            $('#collegeFinancialTools').hide();
            $('#phTools').hide();
            $('#subTools').hide();
            $('#ptoTools').hide();
        });        
    </script>
</html>