<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <div class="wrapper">
        <!-- Header -->
            <% include ./partials/header %>
        <!-- CONTENT --------------------------------------------------------------------------------->
        <!-- Intro Section -->
        <section class="inner-intro">
            <div class="container">
                <div class="row title">
                    <h2 class="h2">Login</h2>
                </div>
            </div>
        </section>
        <!-- End Intro Section -->
        
        <!-- Login Section -->
        <section id="Pricing" class="ptb ptb-sm-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="tabs b-lrb-none">
                            <ul>
                                <li><a href="#tabs-1">Login</a></li>
                            </ul>
                            <div class="ui-tab-content">
                                <div id="tabs-1" class="plr-0">
                                    <h4>Login</h4>
                                    <div class="alert alert-danger" id="failure-alert">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <strong>Authentication failed! Please check your username and password.</strong>
                                    </div>
                                    <form action="/login" method="post">
                                        <div class="form-field-wrapper">
                                            <label for="login-email">Username</label>
                                            <input type="username" required="" placeholder="Enter Your Username" name="username" id="username" class="input-sm form-full" aria-required="true">
                                        </div>
                                        <div class="form-field-wrapper">
                                            <label for="login-pass">Password</label>
                                            <input type="password" required="" placeholder="Enter your Password" name="password" id="login-pass" class="input-sm form-full" aria-required="true">
                                        </div>
                                        <button name="submit" id="Button1" type="submit" class="btn btn-md btn-black">Login</button>
                                        <a class="float-right">Forgot password?</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Login Section -->
            <% include ./partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ./partials/scripts %>
    <script type="text/javascript" language="javascript">
        $('#failure-alert').hide();
        $(document).ready(function() {
            <% if(locals.message) { %>
                <%if(message) { %>
                    $("#failure-alert").fadeTo(3000, 500).slideUp(500, function(){
                        $("#failure-alert").slideUp(500);
                    }); 
                <% } %>
            <% } %>
        });
    </script>
</body>
</html>