<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ./partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row text-center" style="min-height:184px">
                    <div class="col-lg-12">
                        <% if(locals.days) { %>
                            <div style="font-size:30px;font-weight:bold;padding-top:80px;padding-bottom:80px;">
                                You have
                                <span style="color:<% if((totalPTO-days) > 10) { %>
                                    green
                                <% } else if((totalPTO-days) > 5) { %>
                                    orange
                                <% } else { %>
                                    red
                                <% } %>
                                ">
                                    <%= totalPTO-days %>
                                </span>
                                days of PTO Remaining
                            </div>
                        <% } else { %>
                            <div style="font-size:30px;font-weight:bold;padding-top:80px;padding-bottom:80px;">
                                You have <span style="color:green"><%= totalPTO %></span> days of PTO Remaining
                            </div>
                        <% } %>
                    </div>
                </div>
                <% if(canDelete) { %>
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <form method="post" action="/ptoSearch">
                                <div class="pto_usernames">
                                    Select Username: <select id="pto_usernames" name="pto_usernames">
                                                        <option value="">--Select--</option>
                                                    <% if(locals.pto_username) { %>
                                                        <% for(var x=0; x<pto_username.length; x++) { %>
                                                            <option value="<%=pto_username[x]%>"><%=pto_username[x]%></option>
                                                        <% } %>
                                                    <% } %>
                                                    </select>
                                    <button name="submit" id="btnSearchPto" type="submit" class="btn btn-md btn-black">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                <% } %>
                <div class="row text-center">
                    <div class="col-lg-12">
                        <% if(locals.selected_username) { %>
                            <% if(session_user != selected_username) { %>
                                <div style="font-size:2em;padding:10px;">
                                    <%=selected_username%>
                                </div>
                            <% } %>
                        <% } %>
                        <div class="alert alert-danger" id="failure-alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Your PTO Request Failed. Please let IT know something went wrong.</strong>
                        </div>
                        <div class="alert alert-success" id="success-alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Your PTO Request has been submitted!</strong>
                        </div>
                    </div>
                </div>
                <form method="post" action="/pto">
                    <div class="row"> 
                        <div class="col-lg-4">
                            <div class="add-pto">
                                <strong>Add New PTO Request</strong>
                                    <div>
                                        <div>From</div>
                                        <div><input type="date" name="pto_date" id="pto_date" placeholder="MM/DD/YYYY"></div> 
                                    </div>
                                    <div>
                                        <div>To</div>
                                        <div><input type="date" name="pto_date_end" id="pto_date_end" placeholder="MM/DD/YYYY"></div>
                                    </div>
                                    <div style="clear:both"></div>
                                    <div>
                                        <% if(locals.request_types) { %>
                                            <select id="request_type" name="request_type">
                                                <% request_types.forEach(function(item) { %>
                                                    <option value="<%=item.pto_request_type_id%>"><%=item.pto_request_type_name%></option>
                                                <% }); %>
                                            </select>
                                        <% } %>
                                    </div>
                                    <div style="clear:both">
                                        <select id="pto_amount" name="pto_amount">
                                            <option value="1" selected>Full Day</option>
                                            <option value=".75">3/4 Day</option>
                                            <option value=".5">Half Day</option>
                                            <option value=".25">1/4 Day</option>
                                        </select>
                                    </div>
                                    <div style="clear:both">
                                        <textarea rows="10" cols="50" name="pto_notes" id="pto_notes" placeholder="Notes...."></textarea>
                                    </div>
                                    <div>
                                        <button name="submit" id="btnAddPto" type="submit" class="btn btn-md btn-black">Submit Request</button>
                                    </div>
                            </div>
                        </div>
                        <%if(isFaculty) { %>}
                            <div class="col-lg-7">
                                <div class="pto-class-info">
                                    <div id="duties">
                                        If you are scheduled for AM/PM/PH or Lunch Duty during your time off please contact the Dean of Students to schedule coverage.
                                    </div>
                                    <input type="checkbox" name="chkNoClasses" id="chkNoClasses">Check if missing NO Classes<br />
                                    <table id="tblClasses" class="table table-striped">
                                        <thead>
                                            <th><input type="checkbox" id="chkSelectAll"></th>
                                            <th>Period</th>
                                            <th>Course</th>
                                            <th>Class</th>
                                            <th>Section</th>
                                            <th>Room</th>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <div class="row" style="padding-top:20px">
                        <div class="col-lg-6">
                            <div class="alert alert-warning" style="display:none" id="blackoutAlert">
                              <strong>Warning!</strong> You may not take PTO on this date because it is a work day before a long holiday weekend or there is a special event on campus on this date. Please seek permission from the Principal and/or Dean of Academics for an override code to enter in the below box to allow you to submit this request. This request is still subject to approval.
                            </div>
                            <div class="alert alert-warning" style="display:none" id="overPTOAlert">
                              <strong>Warning!</strong> You may not take PTO on this date because you have exceeded your alloted PTO. Please seek permission from the Principal and/or Dean of Academics for an override code to enter in the below box to allow you to submit this request. This request is still subject to approval.
                            </div>
                            <div id="dvOverrideCode">
                                <span style="padding-right:10px"><input type="text" placeholder="Copy Override Code" id="txtOverrideCode" name="txtOverrideCode"/></span>
                                <button name="submit" id="btnValidateCode" type="submit" class="btn btn-md btn-black">Validate Code</button>
                                <input type="hidden" id="hidIsOverPTO" name="hidIsOverPTO" value="0">
                            </div>
                            <div class="alert alert-success" id="codeValidation-alert">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>This code is no longer valid please obtain a new one.</strong>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row text-center" style="padding-top:40px">
                    <div class="col-lg-12">
                        <div id="tabs" class="tabs-nohdr">
                            <ul>
                                <li><a href="#current">Current PTOs</a></li>
                                <li><a href="#pending">Pending PTOs</a></li>
                                <li><a href="#denied">Denied PTOs</a></li>
                            </ul>
                            <div id="current" class="ptos">
                                <strong>Current PTO Requests</strong>
                                <% if(locals.pto) { %>
                                    <% for(var i=0; i<pto.length; i++) {%>
                                        <div class="pto" id="pto<%=pto[i].pto_request_id %>">
                                            <span class="pto-date"><%= moment(pto[i].pto_date).format('LL'); %></span>
                                            <span class="pto-note">
                                                <% if(pto[i].pto_notes != null && pto[i].pto_notes != "") { %>
                                                    -
                                                <% } %>
                                                <%= pto[i].pto_notes %>
                                            </span>
                                            <span class="pto-value">
                                                <% if(pto[i].pto_value == 1) { %>
                                                    Full Day
                                                <% } else if (pto[i].pto_value == .75) { %>
                                                    3/4 Day
                                                <% } else if (pto[i].pto_value == .5) { %>
                                                    Half Day
                                                <% } else if (pto[i].pto_value == .25) { %>
                                                    1/4Day
                                                <% } %>  
                                            </span>
                                            <% if(canDelete) { %>
                                                <span class="glyphicon glyphicon-remove" data-id="<%= pto[i].pto_request_id %>" id="deletePTO" style="cursor:pointer"></span>
                                            <% } %>             
                                        </div>
                                    <% } %>
                                <% } %>
                            </div>
                            <div id="pending" class="ptos">
                                <strong>Pending PTO Requests</strong>
                                <%if(locals.pendingPto) { %>
                                    <% for(var i=0; i<pendingPto.length; i++) {%>
                                        <div class="pto" id="pto<%=pendingPto[i].pto_request_id %>">
                                            <span class="pto-date"><%= moment(pendingPto[i].pto_date).format('LL'); %></span>
                                            <span class="pto-note">
                                                <% if(pendingPto[i].pto_notes != null && pendingPto[i].pto_notes != "") { %>
                                                    -
                                                <% } %>
                                                <%= pendingPto[i].pto_notes %>
                                            </span> 
                                            <span class="pto-value">
                                                <% if(pendingPto[i].pto_value == 1) { %>
                                                    Full Day
                                                <% } else if (pendingPto[i].pto_value == .75) { %>
                                                    3/4 Day
                                                <% } else if (pendingPto[i].pto_value == .5) { %>
                                                    Half Day
                                                <% } else if (pendingPto[i].pto_value == .25) { %>
                                                    1/4Day
                                                <% } %>  
                                            </span>           
                                        </div>
                                    <% } %>
                                <% } %>
                            </div>
                            <div id="denied" class="ptos">
                                <strong>Denied PTO Requests</strong>
                                <%if(locals.deniedPto) { %>
                                    <% for(var i=0; i<deniedPto.length; i++) {%>
                                        <div class="pto" id="pto<%=deniedPto[i].pto_request_id %>">
                                            <span class="pto-date"><%= moment(deniedPto[i].pto_date).format('LL'); %></span>
                                            <span class="pto-note">
                                                <% if(deniedPto[i].pto_notes != null && deniedPto[i].pto_notes != "") { %>
                                                    -
                                                <% } %>
                                                <%= deniedPto[i].pto_notes %>
                                            </span>
                                            <span class="pto-value">
                                                <% if(deniedPto[i].pto_value == 1) { %>
                                                    Full Day
                                                <% } else if (deniedPto[i].pto_value == .75) { %>
                                                    3/4 Day
                                                <% } else if (deniedPto[i].pto_value == .5) { %>
                                                    Half Day
                                                <% } else if (deniedPto[i].pto_value == .25) { %>
                                                    1/4Day
                                                <% } %>  
                                            </span>               
                                        </div>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <% include ./partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ./partials/scripts %>
    <script type="text/javascript" language="javascript">
        $('#failure-alert').hide();
        $('#success-alert').hide();
        $('#dvOverrideCode').hide();
        $('#codeValidation-alert').hide();
        $(document).ready(function() {
            $("#tabs").tabs();
            <% if(flash) { %>
                <% if(flash == "success") { %>
                    $("#success-alert").fadeTo(3000, 500).slideUp(500, function(){
                        $("#success-alert").slideUp(500);
                    }); 
                <% } else if(flash == "failed") { %>
                    $("#failure-alert").fadeTo(3000, 500).slideUp(500, function(){
                        $("#success-alert").slideUp(500);
                    });
                <% } %>
            <% } %>
            $('#pto_date').on("change", function(e){
                e.preventDefault();
                var data = {};
                data.pto_date = $(this).val();
                data.pto_date_end = $('#pto_date_end').val();
                data.pto_username = "<%=usernames.session_user%>";
                var message= ""; 
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/checkPTODate',
                    success: function(response) {
                        $.ajax({
                            type: 'POST',
                            data: JSON.stringify(data),
                            contentType: 'application/json',
                            url: '/getClasses',
                            success: function(data) {
                                $('#tblClasses tbody').remove();
                                data.classes.forEach(function(section) {
                                    message += '<tr>';
                                    message += '<td><input type="checkbox" id="section'+section.section_id+'" value="'+section.section_id+'" name="classChks[]" class="classChks">';
                                    message += '<td>'+section.period_number+'</td>';
                                    message += '<td>'+section.course_number+'</td>';
                                    message += '<td>'+section.course_name+'</td>';
                                    message += '<td>'+section.section_id+'</td>';
                                    message += '<td>'+section.room+'</td>';
                                    message += '</tr>';
                                });
                                $('#tblClasses').append(message);
                            }
                        });
                        if(response) {
                            if(!$('#blackoutAlert').is(':visible')) {
                                $('#blackoutAlert').show();
                                $('#dvOverrideCode').show();
                                $('#btnAddPto').hide();                             
                            }
                        } else {
                            $('#blackoutAlert').hide();
                            $('#dvOverrideCode').hide();
                            $('#btnAddPto').show();
                        }
                    }
                });              
            });
            $('#pto_date_end').on("change", function(e) {
                e.preventDefault();
                var data = {};
                data.pto_date_end = $(this).val();
                data.pto_date = $('#pto_date').val();
                data.pto_username = "<%=usernames.session_user%>";
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/checkPTODate',
                    success: function(response) {
                        if(response) {
                            if(!$('#blackoutAlert').is(':visible')) {
                                $('#blackoutAlert').show();
                                $('#dvOverrideCode').show();
                                $('#btnAddPto').hide();
                            }
                        } else {
                            $('#blackoutAlert').hide();
                            $('#dvOverrideCode').hide();
                            $('#btnAddPto').show();
                        }
                    }
                });
            });            
            if(<%=totalPTO-days%> <= 0) {
                if(!$('#overPTOAlert').is(':visible')) {
                    $('#overPTOAlert').show();
                    $('#dvOverrideCode').show();
                    $('#btnAddPto').hide();
                    $('#hidIsOverPTO').val(1);
                    e.preventDefault();
                }
            }
            $(document).on("click", "#deletePTO", function(e) {
                e.preventDefault();
                var data = {};
                data.pto_id = $(this).data("id");
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/deletePTO',
                    success: function(data) {
                        window.location.assign("/pto");
                    }
                });
            });
            $(document).on("click", "#pto_search", function(e) {
                e.preventDefault();
                var data = {};
                data.pto_id = $(this).data("id");
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/deletePTO',
                    success: function(data) {
                        window.location.assign("/pto");
                    }
                });
            });
            $('#chkSelectAll').on("change", function(d){
                var checked = this.checked;
                $('.classChks').each(function(d,i) {
                    this.checked = checked;
                });
            });
            $('#btnValidateCode').click(function(e) {
                e.preventDefault();
                let data = {};
                data.code = $('#txtOverrideCode').val();
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/validateCode',
                    success: function(data) {
                        if(data) {
                            $('#btnAddPto').show();
                        } else {
                            $('#codeValidation-alert').fadeTo(3000, 500).slideUp(500, function(){
                                $("#success-alert").slideUp(500);
                            });
                        }  
                    }
                });
            });
            $(document).on("click", "#btnAddPto", function(e) {
                $('#btnAddPto').hide();
                if($(pto_date).val() == "") {
                    alert("You must enter a date to continue!");
                    e.preventDefault();
                }
                <% if(isFaculty) { %>
                    if(!$('#chkSelectAll').is(':checked') && $('input[name="classChks[]"]:checked').length == 0) {
                        if(!$('#chkNoClasses').is(':checked')) {
                            e.preventDefault();
                            alert("You must either select classes OR check that you are missing no classes");
                        }
                    }
                <% } %>
            });
            $('.classChks').on("change", function(d){
                if(false == $(this).prop("checked")){ //if this item is unchecked
                    $("#chkSelectAll").prop('checked', false); //change "select all" checked status to false
                }
                //check "select all" if all checkbox items are checked
                if ($('.classChks:checked').length == $('.classChks').length ){
                    $("#chkSelectAll").prop('checked', true);
                }
            });
        });
    </script>
</html>