<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ./partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row" style="padding-top:50px">
                    <div class="col-lg-12">
                        <div class="alert alert-danger" id="failure-alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Your PTO Approval failed. Please let IT know something went wrong.</strong>
                        </div>
                        <div class="alert alert-success" id="success-alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>The PTO request has been approved!</strong>
                        </div>
                        <div id="ptos" class="ptos">
                            <strong>PTO Requests awaiting approval</strong>
                            <table class="table table-striped">
                                <tr><th>Employee</th><th>Date</th><th>Note</th><th>Request Type</th><th>PTO Value</th></tr>
                                <% for(var i=0; i<pto.length; i++) {%>
                                    <tr id="pto<%=pto[i].pto_request_id %>">
                                            <td class="pto-username"><%= pto[i].username %></td>
                                            <td class="pto-date"><%= moment(pto[i].pto_date).format('LL'); %></td>
                                            <td class="pto-note"><%= pto[i].pto_notes %></td>
                                            <td><%= pto[i].pto_request_type_name %></td>
                                            <td>
                                                <% if(pto[i].pto_value == 1) { %>
                                                    Full Day
                                                <% } else if (pto[i].pto_value == .75) { %>
                                                    3/4 Day
                                                <% } else if (pto[i].pto_value == .5) { %>
                                                    Half Day
                                                <% } else if (pto[i].pto_value == .25) { %>
                                                    1/4Day
                                                <% } %>    
                                            </td>
                                            <td class="spanBtn" data-id="<%=pto[i].pto_request_id %>" data-username="<%=pto[i].username %>" data-date="<%= pto[i].pto_date %>" id="pto_approve">Approve</td>
                                            <td class="spanBtn" data-id="<%=pto[i].pto_request_id %>" data-username="<%=pto[i].username %>" data-date="<%= pto[i].pto_date %>" id="pto_deny">Deny</td>
                                        </div>
                                        <div style="clear:both"></div>                             
                                    </tr>
                                <% } %>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <% include ./partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ./partials/scripts %>
    <script type="text/javascript" language="javascript">
        $('#failure-alert').hide();
        $('#success-alert').hide();
        $(document).ready(function() {
            <% if(flash) { %>
                <% if(flash == "success") { %>
                    $("#success-alert").fadeTo(3000, 500).slideUp(500, function(){
                        $("#success-alert").slideUp(500);
                    }); 
                <% } else if (flash == "failed") { %>
                    $("#failure-alert").fadeTo(3000, 500).slideUp(500, function(){
                        $("#success-alert").slideUp(500);
                    });
                <% } %>
            <% } %>
            $(document).on("click", "#pto_approve", function(e) {
                e.preventDefault();
                var data = {};
                data.pto_id = $(this).data("id");
                data.pto_date = $(this).data("date");
                data.pto_username = $(this).data("username");               
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/approvePTO',
                    success: function(data) {
                        window.location.assign("/ptoapproval");
                    }
                });
            });
            $(document).on("click", "#pto_deny", function(e) {
                e.preventDefault();
                var data = {};
                data.pto_id = $(this).data("id");
                data.pto_date = $(this).data("date");
                data.pto_username = $(this).data("username");
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/denyPTO',
                    success: function(data) {
                        window.location.assign("/ptoapproval");                    
                    }
                });
            });            
        });
    </script>
</html>