<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ./partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container" style="padding-top:40px">
                <% if(canDelete) { %>
                    <div class="row">
                        <div class="col-lg-4">
                            <div><strong>PTO Requests</strong></div>
                            <div id="addPtos" class="ptos">
                                <div style="float:left;margin-right:20px">
                                    <label for="pto_select" class="entryLabel">Search Date</label>
                                    <input type="date" id="pto_select" name="pto_select" placeholder="MM/DD/YYYY" class="entryInput">              
                                </div>
                                <div style="float:left;margin-top:30px">
                                    <button name="submit" id="btnSearchPTO" type="submit" class="btn btn-md btn-black">Search for PTO</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div id="ptos">
                                <table id="pto_table" class="table table-striped">
                                </table>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
        <!-- End About Section-->
        <% include ./partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ./partials/scripts %>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $('#btnSearchPTO').click(function(e) {
                e.preventDefault();
                var message = "";
                var data = {};
                data.date = $('#pto_select').val();
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/searchPTO',
                    success: function(data) {
                        $("#pto_table").empty();
                        data.ptos.forEach(function(pto) {
                            message += '<tr>'
                            message += '<div class="pto" id="pto'+pto.pto_request_id+'">';
                            message += '<td>'+pto.username+'</td>';
                            message += '<td>'+moment(pto.pto_date).format("LL")+'</td>';
                            if(<%=canDelete%>) {
                                message += '<td><span class="glyphicon glyphicon-remove" data-id="'+pto.pto_request_id+'" id="deletePTO" style="cursor:pointer"></span></td>';
                            }
                            message += '</tr>'
                        });
                        $('#pto_table').append(message);
                    }
                });
            });
            $(document).on("click", "#deletePTO", function(e) {
                e.preventDefault();
                thisObject = $(this);
                var data = {};
                data.pto_id = $(this).data("id");
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/deletePTO',
                    success: function(data) {
                        thisObject.closest('tr').remove();
                    }
                });
            });
        });
    </script>
</html>