<!doctype html>
<html>
  <head>
      <% include ./partials/head %>
  </head>
  <body>
    <div class="wrapper">
      <% include ./partials/header %>
      <!--About Section-->
      <section id="about" class="wow fadeIn ptb ptb-sm-80" style="padding-top:100px">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
              <form method="post" action="addStatus">
                <input type="text" id="txtStatusName" name="txtStatusName" placeholder="Status Name">
                <button name="btnAddStatus" id="btnAddStatus" type="submit" class="btn btn-md btn-warning">Add Status</button>
              </form>
            </div>
          </div>
        </div>
      </section>        
      <!-- End About Section-->
      <% include ./partials/footer %>
      <!-- End CONTENT -->
    </div>
  </body>
</html>