.navbar-custom { background-color: transparent !important; }

.navbar-brandCRJ {
    float: left;
    height:50px;
    padding-top: 15px;
    font-size: 18px;
    line-height: 20px;
}
.entryGroup {
    padding:10px;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

.modal-backdrop {
    /* bug fix - no overlay */    
    display: none;    
}

.bellspan {
    padding:10px;
}
.bellnum {
    width:67px;
}

.adminbutton {
    width:150px;
    height:150px;
    background-color:#fdbb30;
    padding:20px;
    margin:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    text-align:center;
    box-shadow: 10px 10px 5px grey;
    cursor:pointer;
}
.buttontext {
    padding:5px;
    color:white;
    font:"Trebuchet MS", Helvetica, sans-serif;
    font-weight:bold;
}
.textStyles {
    font:"Trebuchet MS", Helvetica, sans-serif;
    font-weight:bold;
}
.button_dashboards {
    display: flex;
    flex-wrap:wrap;
    flex-grow: 3;
}
.crj_reg_tbl td
{
    padding:5px;
}
input[type="text"] {
    background: white;
    border: 1px double #4ca9ec;
    border-radius: 5px;
    box-shadow: 0 0 5px #4ca9ec;
    color: #666;
    /*float: left;*/
    padding: 5px 10px;
    width: 165px;
    outline: none;
}   
.timeSorting {
    border: 1px solid #d3d3d3;
    background-color: #e6e6e6;
    Margin: 15px;
    width:600px;
}
.imgDelete {
    display: block;
    float: right;
    position: relative;
    cursor: pointer;
}
.flex-container {
  padding-top: 20;
  margin: 0;
  list-style: none;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.spanBtn {
    margin:10px;
    padding:10px;
    cursor:pointer
}

#dvAddPrimeSecInfo {
    display: flex;
    flex-grow: 2; 
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
/*-----------==============PTO Styles================------------------*/
.ptoApprovals {
    border-bottom: 2px dotted #D0D0D0;
}

.assigned {
    color:green;
}

.primary {
    color:green;
}

.secondary {
    color:orange;
}

.tertiary {
    color:red;
}
.pto span {
    padding:10px;
}
/*--------------=============================Custom Context Menu=================---------*/
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
    width:560px;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    float: left;
    display: inline;
    width:50%;
}

.custom-menu li:hover {
    background-color: #DEF;
}

.context-menu-user {
    padding-left:10px;
}


/*----------------------==================Floating Label================----------------------*/
.entryField {
    padding:10px;
}
.entryFieldlabel {
    transform: translate(5px, 7px) scale(1);
    color: #05B8CC;
}

.entryLabel, .entryInput{
    display:block;
}

.entryLabel{
    color: #05B8CC;
    margin-bottom:0 !important;
}


/*----------------------=====================PH Styles====================------------------------------*/
.phNote {
    width:100px;
    overflow:hidden;
    white-space: nowrap;
    display:block;
    cursor: pointer;
    height: 30px;
}
.phTitle {
    font-weight:bold;
}

/*----------------------=====================CSS Loader====================------------------------------*/
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:absolute;
}
.loader-container {
    background:rgba(255,255,255,0.5);
    width:100%;
    height:100%;
    position:absolute;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/*-----------------------------===================JQuery Tab Styles===================-------------------*/
.tabs-nohdr { 
    padding: 0px; 
    background: none; 
    border-width: 0px; 
} 
.tabs-nohdr .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
.tabs-nohdr .ui-tabs-panel { 
    background: #f5f3e5 repeat-x scroll 50% top; 
    border-width: 0px 1px 1px 1px; 
}

.ui-state-default, .ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, .ui-button, 
html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}

.ui-state-active, .ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, a.ui-button:active, 
.ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #c9c9c9 !important;
    background: #c7c7c7 !important;
    font-weight: normal;
    color: #ffffff;
}


/*---------------------------======================Assign Subs Flexbox===================---------------*/
.free-teachers {
    cursor:pointer;
}
.subs-flex {
    display:flex;
    flex-flow: row wrap;

}

.subs-child {
    flex: 1 0 21%;
    padding: 10px;
    border: dotted 1px;
    margin: 5px;
}


/*-----------------============Sidebar Styles=================-----------------------*/
.sidebar_wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
    background: #fdbb30;
    color: #fff;
    transition: all 0.3s;
    -webkit-box-shadow: 8px 0 5px -5px #C7C7C7;
    box-shadow: 8px 0 5px -5px #C7C7C7;
}

#sidebar ul {
    list-style:none;
    font-weight:bold;
    padding-left:0px;
    margin-left:10px;

}
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color:white;
}
#sidebar ul li.active {
    background: #fdbb30;
}
#sidebar ul li a:hover {
    color: #000000;
    background: #fff;
}

#content {
    width:100%;
    padding:20px;
    min-height:100vh;
    transition:all 0.3s;
}

/*-----------------============College Tuition Styles=================-----------------------*/
.flex-container {
    display:flex;
    flex-direction: row;
}

.flex-item {
    flex-grow: 2;
}