<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ../partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row" style="padding-top:20px">
                    <div class="col-lg-12">
                        <form method="post" action="/addCollege">
                            <strong>Add College</strong>
                            <div class="flex-container">
                                <div class="flex-item">
                                    <div>
                                        <label for="txtCollegeName" class="entryFieldlabel">College</label>
                                    </div>
                                        <input type="text" id="txtCollegeName" name="txtCollegeName" placeholder="Name">
                                </div>
                                <div class="flex-item">
                                    <div>
                                        <label for="txtTuitionCost" class="entryFieldlabel">Tuition Costs (Yearly)</label>
                                    </div>
                                        <input type="text" id="txtTuitionCost" name="txtTuitionCost" placeholder="Tuition Costs" >
                                </div>
                                <div class="flex-item">
                                    <div>
                                        <label for="txtRoomBoardCost" class="entryFieldlabel">Room and Board Costs (Yearly)</label>
                                    </div>
                                        <input type="text" id="txtRoomBoardCost" name="txtRoomBoardCost" placeholder="Room and Board Costs" >
                                </div>
                                <div class="flex-item">
                                    <div>
                                        <label for="txtOtherCost" class="entryFieldlabel">Other Costs (Yearly)</label>
                                    </div>
                                        <input type="text" id="txtOtherCost" name="txtOtherCost" placeholder="Other Costs" >
                                </div>
                            </div>                                                                                                                     
                            <button name="submit" id="btnCollege" type="submit" class="btn btn-md btn-black">Add College</button>
                        </form>
                    </div>
                </div>
                <div class="row" style="padding-top:20px">
                    <div class="col-lg-12">
                        <strong>Colleges</strong>
                        <table class="table table-striped" id="tblColleges">
                            <thead><tr><th>College</th><th>Tuition Cost</th><th>Room and Board Cost</th><th>Other Cost</th></tr></thead>
                            <tbody>
                                <%if(locals.colleges) { %>
                                    <%for(var key in colleges) { %>
                                        <tr>
                                            <td>
                                                <span id="spnCollege<%=colleges[key].college_id%>"><%=colleges[key].college_name%></span><input type="text" id="txtCollege<%=colleges[key].college_id%>" value="<%=colleges[key].college_name%>" style="display:none">
                                            </td>
                                            <td>
                                                <span id="spnTuitionCost<%=colleges[key].college_id%>"><%=colleges[key].tuition_cost%></span><input type="text" id="txtTuitionCost<%=colleges[key].college_id%>" value="<%=colleges[key].tuition_cost%>" style="display:none">
                                            </td>
                                            <td>
                                                <span id="spnRoomBoardCost<%=colleges[key].college_id%>"><%=colleges[key].room_board_cost%></span><input type="text" id="txtRoomBoardCost<%=colleges[key].college_id%>" value="<%=colleges[key].room_board_cost%>" style="display:none">
                                            </td>
                                            <td>
                                                <span id="spnOtherCost<%=colleges[key].college_id%>"><%=colleges[key].other_cost%></span><input type="text" id="txtOtherCost<%=colleges[key].college_id%>" value="<%=colleges[key].other_cost%>" style="display:none">
                                            </td>                                                                                                                                    
                                            <td>
                                                <span class="glyphicon glyphicon-edit" data-id="<%=colleges[key].college_id%>" id="editCollege" style="cursor:pointer"></span>
                                                <span class="glyphicon glyphicon-remove" data-id="<%=colleges[key].college_id%>" id="deleteCollege" style="cursor:pointer"></span>
                                                <button name="submit" id="btnUpdateCollege" type="submit" data-id="<%=colleges[key].college_id%>" class="btn btn-md btn-black" style="display:none">Update</button>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% } %>
                            </tbody>
                        </table>
                    </div>                   
                </div>
            </div>
        </section>        
        <!-- End About Section-->
        <% include ../partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $("#tblColleges").on("click", "#editCollege", function(e) {
                var ID = $(this).data('id');
                $('#txtCollege'+ID).show();
                $('#txtTuitionCost'+ID).show();
                $('#txtRoomBoardCost'+ID).show();
                $('#txtOtherCost'+ID).show();
                $('#spnCollege'+ID).hide();
                $('#spnTuitionCost'+ID).hide();
                $('#spnRoomBoardCost'+ID).hide();
                $('#spnOtherCost'+ID).hide();
                $(this).next().next().show();
                $(this).next().hide();                
                $(this).hide();
            });
            $("#btnCollege").click(function(e) {
               if(isNaN($('#txtTuitionCost').val())) {
                    alert("Tuition costs must be a number only!");
                    e.preventDefault();
                } else if(isNaN($('#txtRoomBoardCost').val())) {
                    alert("Room and Board costs must be a number only!");
                    e.preventDefault();
                } else if(isNaN($('#txtOtherCost').val())) {
                    alert("Other costs must be a number only!");
                    e.preventDefault();
                }
            });
            $("#tblColleges").on("click", "#btnUpdateCollege", function(e) {
                e.preventDefault();
                var button = $(this);
                var ID = $(this).data('id');
                data = {};
                data.college_id = ID;
                data.college_name = $('#txtCollege'+ID).val();
                data.tuition_cost = $('#txtTuitionCost'+ID).val();
                data.room_board_cost = $('#txtRoomBoardCost'+ID).val();
                data.other_cost = $('#txtOtherCost'+ID).val();
                if(isNaN($('#txtTuitionCost'+ID).val())) {
                    alert("Tuition costs must be a number only!");
                    e.preventDefault();
                } else if(isNaN($('#txtRoomBoardCost'+ID).val())) {
                    alert("Room and Board costs must be a number only!");
                    e.preventDefault();
                } else if(isNaN($('#txtOtherCost'+ID).val())) {
                    alert("Other costs must be a number only!");
                    e.preventDefault();
                } else {
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        url: '/updateCollege',
                        success: function(data) {
                            $('#txtCollege'+ID).hide();
                            $('#txtTuitionCost'+ID).hide();
                            $('#txtRoomBoardCost'+ID).hide();
                            $('#txtOtherCost'+ID).hide();
                            $('#spnCollege'+ID).text($('#txtCollege'+ID).val());
                            $('#spnTuitionCost'+ID).text($('#txtTuitionCost'+ID).val());
                            $('#spnRoomBoardCost'+ID).text($('#txtRoomBoardCost'+ID).val());
                            $('#spnOtherCost'+ID).text($('#txtOtherCost'+ID).val());
                            $('#spnCollege'+ID).show();
                            $('#spnTuitionCost'+ID).show();
                            $('#spnRoomBoardCost'+ID).show();
                            $('#spnOtherCost'+ID).show();
                            button.prev().prev().show();
                            button.prev().show();
                            button.hide();   
                        }
                    });
                }
            });
            $("#tblColleges").on("click", "#deleteCollege", function(e) {
                e.preventDefault();
                var ID = $(this).data('id');
                data = {};
                data.college_id = ID;
                thisObject = $(this);
                if(confirm("Are you sure you want to delete this Entry?")) {
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        url: '/deleteCollege',
                        success: function(data) {
                            thisObject.closest('tr').remove();
                        },
                        error: function(xhr, ajaxOptions, throwError) {
                            alert(xhr.status);
                            alert(thrownError);
                        }
                    });
                }
            });
        });
    </script>
</html>