<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ../partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row" style="padding-top:20px">
                    <div class="col-lg-12">
                        <strong>Add Funding for Zero EFC Students (Current Year)</strong>
                        <div class="flex-container">
                            <div class="flex-item">
                                <div>
                                    <label for="txtPellGrantAmount" class="entryFieldlabel">Pell Grant Amount</label>
                                </div>
                                    <input type="text" id="txtPellGrantAmount" name="txtPellGrantAmount" placeholder="Amount">
                            </div>
                            <div class="flex-item">
                                <div>
                                    <label for="txtFederalUnsubsidizedAmount" class="entryFieldlabel">Federal Unsubsidized Amount</label>
                                </div>
                                    <input type="text" id="txtFederalUnsubsidizedAmount" name="txtFederalUnsubsidizedAmount" placeholder="Amount">
                            </div>
                            <div class="flex-item">
                                <div>
                                    <label for="txtFederalSubsidizedAmount" class="entryFieldlabel">Federal Subsidized Amount</label>
                                </div>
                                    <input type="text" id="txtFederalSubsidizedAmount" name="txtFederalSubsidizedAmount" placeholder="Amount">
                            </div>
                        </div>
                        <div class="flex-container">
                            <div class="flex-item">
                                <div>                                                          
                                    <button name="submit" id="btnAddZeroEFCGrants" type="submit" class="btn btn-md btn-black">Add Zero EFC Grants</button>
                                </div>
                            </div>
                            <div class="flex-item">
                                <div>                                          
                                    <button name="submit" id="btnAddStaffordLoans" type="submit" class="btn btn-md btn-black">Add Stafford Loans</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
        <!-- End About Section-->
        <% include ../partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $("#btnAddZeroEFCGrants").click(function(e) {
               if(isNaN($('#txtPellGrantAmount').val())) {
                    alert("Pell Grant amount must be a number only!");
                    e.preventDefault();
                } else if(isNaN($('#txtFederalUnsubsidizedAmount').val())) {
                    alert("Federal Unsubsidized amount must be a number only!");
                    e.preventDefault();
                } else if(isNaN($('#txtFederalSubsidizedAmount').val())) {
                    alert("Federal Subsidized amount must be a number only!");
                    e.preventDefault();
                } else if($('#txtPellGrantAmount').val() == "") {
                    alert("Pell Grant amount must have a value!");
                    e.preventDefault();
                } else if($('#txtFederalUnsubsidizedAmount').val() == "") {
                    alert("Federal Unsubsidized amount must have a value!");
                    e.preventDefault();
                } else if($('#txtFederalSubsidizedAmount').val() == "") {
                    alert("Federal Subsidized amount must have a value!");
                    e.preventDefault();
                }
                data.txtPellGrantAmount = $('#txtPellGrantAmount').val();
                data.txtFederalUnsubsidizedAmount = $('#txtFederalUnsubsidizedAmount').val();
                data.txtFederalSubsidizedAmount = $('#txtFederalSubsidizedAmount').val();
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/addfillZeroEFCGrants',
                    success: function(data) {
                        window.location = "/";
                    }
                });
            });
            $("#btnAddStaffordLoans").click(function(e) {
               if(isNaN($('#txtFederalUnsubsidizedAmount').val())) {
                    alert("Federal Unsubsidized amount must be a number only!");
                    e.preventDefault();
                } else if(isNaN($('#txtFederalSubsidizedAmount').val())) {
                    alert("Federal Subsidized amount must be a number only!");
                    e.preventDefault();
                } else if($('#txtFederalUnsubsidizedAmount').val() == "") {
                    alert("Federal Unsubsidized amount must have a value!");
                    e.preventDefault();
                } else if($('#txtFederalSubsidizedAmount').val() == "") {
                    alert("Federal Subsidized amount must have a value!");
                    e.preventDefault();
                }
                data.txtFederalUnsubsidizedAmount = $('#txtFederalUnsubsidizedAmount').val();
                data.txtFederalSubsidizedAmount = $('#txtFederalSubsidizedAmount').val()
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/addfillStaffordLoans',
                    success: function(data) {
                        window.location = "/";
                    }
                });                
            });            
        });
    </script>
</html>