<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ../partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row" style="padding-top:20px">
                    <div class="col-lg-3">
                        <form method="post" action="/addFundingType">
                            <strong>Add Funding Type</strong>
                            <div>
                                <div>
                                    <label for="txtFundingTypeName" class="entryFieldlabel">College</label>
                                </div>
                                    <input type="text" id="txtFundingTypeName" name="txtFundingTypeName" placeholder="Name">
                            </div>                               
                            <button name="submit" id="btnFundingType" type="submit" class="btn btn-md btn-black">Add Funding Type</button>
                        </form>
                    </div>
                </div>
                <div class="row" style="padding-top:20px">
                    <div class="col-lg-6">
                        <strong>Colleges</strong>
                        <table class="table table-striped" id="tblFundingTypes">
                            <thead><tr><th>Funding Type</th></tr></thead>
                            <tbody>
                                <%if(locals.funding_types) { %>
                                    <%for(var key in funding_types) { %>
                                        <tr>
                                            <td>
                                                <span id="spnFundingType<%=funding_types[key].funding_type_id%>"><%=funding_types[key].funding_type_name%></span>
                                                <input type="text" id="txtFundingType<%=funding_types[key].funding_type_id%>" value="<%=funding_types[key].funding_type_name%>" style="display:none">
                                            </td>
                                            <td>
                                                <span class="glyphicon glyphicon-edit" data-id="<%=funding_types[key].funding_type_id%>" id="editFundingType" style="cursor:pointer"></span>
                                                <span class="glyphicon glyphicon-remove" data-id="<%=funding_types[key].funding_type_id%>" id="deleteFundingType" style="cursor:pointer"></span>
                                                <button name="submit" id="btnUpdateFundingType" type="submit" data-id="<%=funding_types[key].funding_type_id%>" class="btn btn-md btn-black" style="display:none">Update</button>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% } %>
                            </tbody>
                        </table>
                    </div>                   
                </div>
            </div>
        </section>        
        <!-- End About Section-->
        <% include ../partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $("#tblFundingTypes").on("click", "#editFundingType", function(e) {
                var ID = $(this).data('id');
                $('#txtFundingType'+ID).show();
                $('#spnFundingType'+ID).hide();
                $(this).next().next().show();
                $(this).next().hide();                
                $(this).hide();
            });

             $("#tblFundingTypes").on("click", "#btnUpdateFundingType", function(e) {
                e.preventDefault();
                var button = $(this);
                var ID = $(this).data('id');
                data = {};
                data.funding_type_id = ID;
                data.funding_type_name = $('#txtFundingType'+ID).val();
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/updateFundingType',
                    success: function(data) {
                        $('#txtFundingType'+ID).hide();
                        $('#spnFundingType'+ID).show();
                        $('#spnFundingType'+ID).text($('#txtFundingType'+ID).val());
                        button.prev().prev().show();
                        button.prev().show();
                        button.hide();
                    }
                });
            });
            $("#tblFundingTypes").on("click", "#deleteFundingType", function(e) {
                e.preventDefault();
                var ID = $(this).data('id');
                data = {};
                data.funding_type_id = ID;
                thisObject = $(this);
                if(confirm("Are you sure you want to delete this Entry?")) {
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        url: '/deleteFundingType',
                        success: function(data) {
                            thisObject.closest('tr').remove();
                        },
                        error: function(xhr, ajaxOptions, throwError) {
                            alert(xhr.status);
                            alert(thrownError);
                        }
                    });
                }
            });
        });
    </script>
</html>