<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ../partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row" style="padding-top:20px">
                    <div class="col-lg-3">
                        <form method="post" action="/addGrant">
                            <strong>Add Funding Type</strong>
                            <div>
                                <div>
                                    <label for="txtGrantName" class="entryFieldlabel">Grant</label>
                                </div>
                                    <input type="text" id="txtGrantName" name="txtGrantName" placeholder="Name">
                            </div>
                            <div>
                                <div>
                                    <label for="txtFundingType" class="entryFieldlabel">Funding Type</label>
                                </div>
                                <select id="ddlfunding_types" name="ddlfunding_types">
                                    <option value="">--Select--</option>
                                    <% if(locals.funding_types) { %>
                                        <% for(var x=0; x<funding_types.length; x++) { %>
                                            <option value="<%=funding_types[x].funding_type_id%>"><%=funding_types[x].funding_type_name%></option>
                                        <% } %>
                                    <% } %>
                                </select>    
                            </div>                                                            
                            <button name="submit" id="btnFundingType" type="submit" class="btn btn-md btn-black">Add Funding Type</button>
                        </form>
                    </div>
                </div>
                <div class="row" style="padding-top:20px">
                    <div class="col-lg-12">
                        <strong>Grants</strong>
                        <table class="table table-striped" id="tblGrants">
                            <thead><tr><th>Grant</th><th>Funding Type</th></tr></thead>
                            <tbody>
                                <%if(locals.grants) { %>
                                    <%for(var key in grants) { %>
                                        <tr>
                                            <td>
                                                <span id="spnGrant<%=grants[key].grant_id%>"><%=grants[key].grant_name%></span>
                                                <input type="text" id="txtGrant<%=grants[key].grant_id%>" value="<%=grants[key].grant_name%>" style="display:none">
                                            </td>
                                            <td>
                                                <span id="spnFundingType<%=grants[key].grant_id%>"><%=grants[key].funding_type_name%></span>
                                                <select id="ddlfunding_types<%=grants[key].grant_id%>" name="ddlfunding_types<%=grants[key].grant_id%>" style="display:none">
                                                    <option value="">--Select--</option>
                                                    <% if(locals.funding_types) { %>
                                                        <% for(var x=0; x<funding_types.length; x++) { %>
                                                            <option value="<%=funding_types[x].funding_type_id%>"
                                                            <%if(funding_types[x].funding_type_id == grants[key].funding_type_id) {%>
                                                                selected
                                                            <% } %>
                                                            >
                                                                <%=funding_types[x].funding_type_name%>
                                                            </option>
                                                        <% } %>
                                                    <% } %>
                                                </select>
                                            </td>
                                            <td>
                                                <span class="glyphicon glyphicon-edit" data-id="<%=grants[key].grant_id%>" id="editGrant" style="cursor:pointer"></span>
                                                <span class="glyphicon glyphicon-remove" data-id="<%=grants[key].grant_id%>" id="deleteGrant" style="cursor:pointer"></span>
                                                <button name="submit" id="btnUpdateGrant" type="submit" data-id="<%=grants[key].grant_id%>" class="btn btn-md btn-black" style="display:none">Update</button>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% } %>
                            </tbody>
                        </table>
                    </div>                   
                </div>
            </div>
        </section>        
        <!-- End About Section-->
        <% include ../partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $("#tblGrants").on("click", "#editGrant", function(e) {
                var ID = $(this).data('id');
                $('#txtGrant'+ID).show();
                $('#txtFundingType'+ID).show();
                $('#ddlfunding_types'+ID).show();
                $('#spnGrant'+ID).hide();                
                $('#spnFundingType'+ID).hide();
                $(this).next().next().show();
                $(this).hide();
                $(this).next().hide();
            });
            $("#tblGrants").on("click", "#btnUpdateGrant", function(e) {
                e.preventDefault();
                console.log($('#ddlFundingType'+ID).val());
                var button = $(this);
                var ID = $(this).data('id');
                data = {};
                data.grant_id = ID;
                data.funding_type_id = $('#ddlfunding_types'+ID).val();
                data.grant_name = $('#txtGrant'+ID).val();
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/updateGrant',
                    success: function(data) {
                        $('#txtGrant'+ID).hide();
                        $('#ddlfunding_types'+ID).hide();
                        $('#spnFundingType'+ID).text($('#ddlfunding_types'+ID).find(":selected").text());
                        $('#spnGrant'+ID).show();
                        $('#spnFundingType'+ID).show();
                        button.prev().prev().show();
                        button.hide();
                        button.prev().show();
                    }
                });
            });
            $("#tblGrants").on("click", "#deleteGrant", function(e) {
                e.preventDefault();
                var ID = $(this).data('id');
                data = {};
                data.grant_id = ID;
                thisObject = $(this);
                if(confirm("Are you sure you want to delete this Entry?")) {
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        url: '/deleteGrant',
                        success: function(data) {
                            thisObject.closest('tr').remove();
                        },
                        error: function(xhr, ajaxOptions, throwError) {
                            alert(xhr.status);
                            alert(thrownError);
                        }
                    });
                }
            });
        });
    </script>
</html>