<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ../partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" style="padding-bottom:60px;font-size:2.5em">
                        <%if(locals.student) { %>
                            <strong><%=student[0].first_name%> <%=student[0].last_name%></strong>
                            <input type="hidden" id="student_number" name="student_number" value=<%=student[0].student_number%>
                        <% } %>                              
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div id="divCollege" style="padding-bottom:30px">
                            <button name="submit" id="btnAddCollege" type="submit" class="btn btn-md btn-black">Add College</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-3">
                        <form method="post" action="/updateStudentEFC">
                            <div class="input-group">
                                <input type="hidden" id="student_numberEFC" name="student_numberEFC" value=<%=student[0].student_number%>>
                                <input type="text" id="txtEFC" name="txtEFC" value="<%=student_efc%>"">
                                <span class="input-grou-btn">
                                    <button name="submit" id="btnStudentEFC" type="submit" class="btn btn-md btn-black">Update EFC</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tabs" id="tabs">
                    <ul class="tab-links">
                        <li class="tabbedClass"><a href="#tabFunds">Student Funds</a></li>
                        <li class="tabbedClass"><a href="#tabNotes">Notes</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tabFunds" class="tab active">
                            <div class="row">
                                <div class="col-lg-12">
                                    <strong style="padding-bottom:60px;font-size:1.75em">General Funds</strong>
                                    <table class="table table-striped" id="tblStudentGeneralFunds">
                                        <thead>
                                            <th>Funding Type</th>
                                            <th>Grant Name</th>
                                            <th>Grant Amount</th>
                                            <th>Grant Years</th>
                                            <th>
                                                <button name="submit" id="btnAddGeneralFunding" type="submit" class="btn btn-md btn-black" data-id=<%=student[0].student_number%>>Add General Funding</button>
                                            </th>
                                        </thead>
                                        <% if(locals.student_general_funds) { %>
                                            <tbody>
                                                <% for(var i=0; i<student_general_funds.length; i++) {%>
                                                    <tr id="student_college" data-value-name="<%=student_general_funds[i].student_general_fund_id %>" style="cursor:pointer">
                                                            <td><%= student_general_funds[i].funding_type_name %></td>
                                                            <td><%= student_general_funds[i].grant_name %></td>
                                                            <td>
                                                                <span id="spnGrantAmountGeneral<%=student_general_funds[i].student_general_fund_id %>">
                                                                    $<%= student_general_funds[i].grant_amount.toFixed(2) %>
                                                                </span>
                                                                <input type="text" id="txtGrantAmountGeneral<%=student_general_funds[i].student_general_fund_id %>"
                                                                value="<%= student_general_funds[i].grant_amount.toFixed(2) %>" style="display:none"> 
                                                            </td>
                                                            <td>
                                                                <span id="spnGrantYearsGeneral<%=student_general_funds[i].student_general_fund_id %>">
                                                                    <%= student_general_funds[i].grant_years %>
                                                                </span>
                                                                <input type="text" id="txtGrantYearsGeneral<%=student_general_funds[i].student_general_fund_id %>" 
                                                                value="<%= student_general_funds[i].grant_years %>" style="display:none">
                                                            </td>
                                                            <td>
                                                                <%if(student_general_funds[i].file_name != null) { %>
                                                                    <a href="/getGeneralDocumentByID/<%=student_general_funds[i].student_general_fund_id %>" class="btn btn-info btn-lg">
                                                                      <span class="glyphicon glyphicon-download-alt"></span> Download
                                                                    </a>
                                                                <% } %>
                                                            </td>
                                                            <td>
                                                                <span class="glyphicon glyphicon-edit" data-id="<%=student_general_funds[i].student_general_fund_id %>" id="editStudentGeneralFund" style="cursor:pointer"></span>
                                                                <span class="glyphicon glyphicon-remove" data-id="<%=student_general_funds[i].student_general_fund_id %>" id="deleteStudentGeneralFund" style="cursor:pointer"></span>
                                                                <button name="submit" id="btnUpdateStudentGeneralFund" type="submit" data-id="<%=student_general_funds[i].student_general_fund_id %>" class="btn btn-md btn-black" style="display:none">Update</button>
                                                            </td>
                                                        </div>
                                                        <div style="clear:both"></div>                             
                                                    </tr>
                                                <% } %>
                                            </tbody>
                                        <% } %>
                                    </table>
                                </div>
                            </div>
                            <div class="row" style="padding-top:50px">
                                <div class="col-lg-12">
                                    <strong style="padding-bottom:60px;font-size:1.75em">Student Colleges and Funds</strong>
                                    <table class="table table-striped" id="tblStudentColleges">
                                        <tbody>
                                            <% for(var i=0; i<student_colleges.length; i++) {%>
                                                <tr id="student_college" data-value-name="<%=student_colleges[i].student_college_id %>" style="cursor:pointer
                                                    <%if(student_colleges[i].accept_apply_attend == 3) { %>
                                                        ;background-color:#dff0d8
                                                    <% } %>
                                                ">
                                                        <td class="college_name" colspan="3"><%= student_colleges[i].college_name %></td>
                                                        <td class="college_cost">$<%= student_colleges[i].tuition_cost + student_colleges[i].room_board_cost %></td>
                                                        <td>
                                                            <span id="spnAcceptApplied<%=student_colleges[i].student_college_id%>">
                                                                <% switch(student_colleges[i].accept_apply_attend) { 
                                                                     case 1: %>
                                                                        Applied
                                                                    <% break; case 2: %>
                                                                        Accepted
                                                                    <% break; case 3: %>
                                                                        Attending
                                                                    <% break; %>
                                                                <% } %>
                                                            </span>
                                                            <select id="ddlAcceptApplied<%=student_colleges[i].student_college_id%>" style="display:none">
                                                                <option value="1">Applied</option>
                                                                <option value="2">Accepted</option>
                                                                <option value="3">Attending</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <button name="submit" id="btnAddFunding" type="submit" class="btn btn-md btn-black addfund<%=student_colleges[i].student_college_id%>" data-id=<%=student_colleges[i].student_college_id%>>Add Funding</button>
                                                        </td>                                            
                                                        <td>
                                                            <span class="glyphicon glyphicon-edit" data-id="<%=student_colleges[i].student_college_id%>" id="editStudentCollege" style="cursor:pointer"></span>
                                                            <span class="glyphicon glyphicon-remove" data-id="<%=student_colleges[i].student_college_id%>" id="btnDeleteCollege" style="cursor:pointer"></span>
                                                            <button name="submit" id="btnUpdateStudentCollege" type="submit" data-id="<%=student_colleges[i].student_college_id%>" class="btn btn-md btn-black" style="display:none">Update</button>
                                                        </td>
                                                    </div>
                                                    <div style="clear:both"></div>                             
                                                </tr>
                                                <% let college_id = student_colleges[i].student_college_id %>
                                                <% let filteredArray = student_grants.filter(function(itm) { %>
                                                        <% return college_id.toString().indexOf(itm.student_college_id) > -1; %>     
                                                <% }); %>
                                                <% for(let x=0; x<filteredArray.length; x++) { %>
                                                    <tr class="grant_list_<%=filteredArray[x].student_college_fund_id %>">
                                                        <td style="width: 40px;">
                                                        <td><%= filteredArray[x].funding_type_name %></td>
                                                        <td><%= filteredArray[x].grant_name %></td>
                                                        <td>
                                                            <span id="spnGrantAmount<%=filteredArray[x].student_college_fund_id %>">
                                                                $<%= filteredArray[x].grant_amount.toFixed(2) %>
                                                            </span>
                                                            <input type="text" id="txtGrantAmount<%=filteredArray[x].student_college_fund_id %>" 
                                                            value="<%= filteredArray[x].grant_amount.toFixed(2) %>" style="display:none">     
                                                        </td>
                                                        <td>
                                                            <span id="spnGrantYears<%=filteredArray[x].student_college_fund_id %>">
                                                                <%= filteredArray[x].grant_years %>
                                                            </span>
                                                            <input type="text" id="txtGrantYears<%=filteredArray[x].student_college_fund_id %>" 
                                                            value="<%= filteredArray[x].grant_years %>" style="display:none">         
                                                        </td>
                                                        <td>
                                                            <%if(filteredArray[x].file_name != null) { %>
                                                                <a href="/getDocumentByID/<%=filteredArray[x].student_college_fund_id %>" class="btn btn-info btn-lg">
                                                                  <span class="glyphicon glyphicon-download-alt"></span> Download
                                                                </a>
                                                            <% } %>
                                                        </td>
                                                        <td>
                                                            <span class="glyphicon glyphicon-edit" data-id="<%=filteredArray[x].student_college_fund_id %>" id="editStudentCollegeFund" style="cursor:pointer"></span>
                                                            <span class="glyphicon glyphicon-remove" data-id="<%=filteredArray[x].student_college_fund_id %>" id="deleteStudentCollegeFund" style="cursor:pointer"></span>
                                                            <button name="submit" id="btnUpdateStudentCollegeFund" type="submit" data-id="<%=filteredArray[x].student_college_fund_id %>" class="btn btn-md btn-black" style="display:none">Update</button>
                                                        </td>                        
                                                    </tr>
                                                <% } %>    
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>                   
                            </div>
                        </div>
                        <div id="tabNotes" class="tab">
                            <div class="row">
                                <div id="noteTab" class="col-lg-12">
                                    <button name="submit" id="btnAddNote" type="submit" class="btn btn-md btn-black" data-id=<%=student[0].student_number%>>Add Note</button>
                                    <table class="table table-striped" id="tblStudentNotes">
                                        <thead>
                                            <th>Note Entry</th>
                                            <th>Date</th>
                                        </thead>
                                        <% if(locals.student_notes) { %>
                                            <tbody>
                                                <% for(var i=0; i<student_notes.length; i++) {%>
                                                    <tr id="student_notes" data-value-name="<%=student_notes[i].student_note_id %>" style="height:250px">
                                                        <td style="width:80%;border-right:1px solid;word-break:break-word;vertical-align:top !important;">
                                                            <span id="spnNote<%=student_notes[i].student_note_id %>"><%= student_notes[i].note%></span>
                                                            <textarea id="txtNote<%=student_notes[i].student_note_id %>" name="txtNote<%=student_notes[i].student_note_id %>" cols="50" rows="10" style="width:100%;display:none;"><%= student_notes[i].note %></textarea>
                                                        </td>
                                                        <td><%=moment(student_notes[i].date).format("MM/DD/YYYY")%></td>
                                                        <td>
                                                            <span class="glyphicon glyphicon-edit" data-id="<%=student_notes[i].student_note_id %>" id="editStudentNote" style="cursor:pointer"></span>
                                                            <span class="glyphicon glyphicon-remove" data-id="<%=student_notes[i].student_note_id %>" id="deleteStudentNote" style="cursor:pointer"></span>
                                                            <button name="submit" id="btnUpdateStudentNote" type="submit" data-id="<%=student_notes[i].student_note_id %>" class="btn btn-md btn-black" style="display:none">Update</button>
                                                        </td>
                                                        <div style="clear:both"></div>                             
                                                    </tr>
                                                <% } %>
                                            </tbody>
                                        <%-pages%>
                                        <% } %>                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
        <!-- End About Section-->
        <% include ../partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            let activeTab = window.localStorage.getItem('activeTab');
            if (activeTab == "#tabNotes") {
                $('#tabs').tabs({active: 1}); 
            } else {
                $('#tabs').tabs({active: 0});
            }
            $(".tabbedClass").on("click", function(event) {
                window.localStorage.setItem('activeTab', $(event.target).attr('href'));
            });
            $("#divCollege").on("click", "#btnAddCollege", function(e) {
                e.preventDefault();
                $('#addCollegeModal').modal('show');
            });
            $("#noteTab").on("click", "#btnAddNote", function(e) {
                e.preventDefault();
                $('#addNoteModal').modal('show');
                $('#hidStuNumNote').val($('#student_number').val());
            });            
            $("#tblStudentColleges").on("click", "#btnAddFunding", function(e) {
                e.preventDefault();
                $('#addFundingModal').modal('show');
                $('#hidStuColID').val($(this).data('id'));
                $('#hidStuNum').val($('#student_number').val());
                $('#hidGeneralFund').val(false);
            });
            $("#tblStudentGeneralFunds").on("click", "#btnAddGeneralFunding", function(e) {
                e.preventDefault();
                $('#addFundingModal').modal('show');
                $('#hidStuColID').val($(this).data('id'));
                $('#hidStuNum').val($('#student_number').val());
                $('#hidGeneralFund').val(true);
            });
            $("#tblStudentColleges").on("click", "#editStudentCollegeFund", function(e) {
                var ID = $(this).data('id');
                $('#txtGrantAmount'+ID).show();
                $('#txtGrantYears'+ID).show();
                $('#spnGrantAmount'+ID).hide();
                $('#spnGrantYears'+ID).hide();
                $(this).next().next().show();
                $(this).next().hide();                
                $(this).hide();
            });
            $("#tblStudentColleges").on("click", "#editStudentCollege", function(e) {
                var ID = $(this).data('id');
                $('#ddlAcceptApplied'+ID).show();
                $('#spnAcceptApplied'+ID).hide();
                $('.addfund'+ID).hide();
                $(this).next().next().show();
                $(this).next().hide();                
                $(this).hide();
            });
            $("#tblStudentGeneralFunds").on("click", "#editStudentGeneralFund", function(e) {
                var ID = $(this).data('id');
                $('#txtGrantAmountGeneral'+ID).show();
                $('#txtGrantYearsGeneral'+ID).show();
                $('#spnGrantAmountGeneral'+ID).hide();
                $('#spnGrantYearsGeneral'+ID).hide();
                $(this).next().next().show();
                $(this).next().hide();                
                $(this).hide();
            });
            $("#tblStudentNotes").on("click", "#editStudentNote", function(e) {
                var ID = $(this).data('id');
                $('#txtNote'+ID).show();
                $('#spnNote'+ID).hide();
                $(this).next().next().show();
                $(this).next().hide();                
                $(this).hide();
            });                        
            $("#tblStudentColleges").on("click", "#btnUpdateStudentCollegeFund", function(e) {
                e.preventDefault();
                var button = $(this);
                var ID = $(this).data('id');
                data = {};
                data.student_college_fund_id = ID;
                data.grant_amount = $('#txtGrantAmount'+ID).val();
                data.grant_years = $('#txtGrantYears'+ID).val();
                data.student_number = $('#student_number').val();
                if(isNaN($('#txtGrantAmount'+ID).val())) {
                    alert("Grant Amount must be a numeric value.");
                    e.preventDefault();
                } else if(isNaN($('#txtGrantYears'+ID).val())) {
                    alert("Grant Years must be a numeric value.");
                    e.preventDefault();
                } else if($('#txtGrantYears'+ ID).val() == "") {
                    alert("You must enter a number for grant years.");
                    e.preventDefault();
                } else {
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        url: '/updateStudentCollegeFund',
                        success: function(data) {
                            $('#txtGrantAmount'+ID).hide();
                            $('#txtGrantYears'+ID).hide();
                            $('#spnGrantAmount'+ID).text($('#txtGrantAmount'+ID).val());
                            $('#spnGrantYears'+ID).text($('#txtGrantYears'+ID).val());
                            $('#spnGrantAmount'+ID).show();
                            $('#spnGrantYears'+ID).show();
                            button.prev().prev().show();
                            button.prev().show();
                            button.hide();   
                        }
                    });
                }
            });
            $("#tblStudentColleges").on("click", "#btnUpdateStudentCollege", function(e) {
                e.preventDefault();
                var button = $(this);
                var ID = $(this).data('id');
                data = {};
                data.student_college_id = ID;
                data.accept_apply_attend = $('#ddlAcceptApplied'+ID).val();
                data.student_number = $('#student_number').val();
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/updateStudentCollege',
                    success: function(data) {
                        $('#ddlAcceptApplied'+ID).hide();
                        $('#spnAcceptApplied'+ID).text($('#ddlAcceptApplied'+ID+' option:selected').text());
                        $('#spnAcceptApplied'+ID).show();
                        $('.addfund'+ID).show();
                        button.prev().prev().show();
                        button.prev().show();
                        button.hide();   
                    }
                });
            });
            $("#tblStudentGeneralFunds").on("click", "#btnUpdateStudentGeneralFund", function(e) {
                e.preventDefault();
                var button = $(this);
                var ID = $(this).data('id');
                data = {};
                data.student_general_fund_id = ID;
                data.grant_amount = $('#txtGrantAmountGeneral'+ID).val();
                data.grant_years = $('#txtGrantYearsGeneral'+ID).val();
                data.student_number = $('#student_number').val();
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/updateStudentGeneralFund',
                    success: function(data) {
                        $('#txtGrantAmountGeneral'+ID).hide();
                        $('#txtGrantYearsGeneral'+ID).hide();
                        $('#spnGrantAmountGeneral'+ID).text($('#txtGrantAmountGeneral'+ID).val());
                        $('#spnGrantYearsGeneral'+ID).text($('#txtGrantYearsGeneral'+ID).val());
                        $('#spnGrantAmountGeneral'+ID).show();
                        $('#spnGrantYearsGeneral'+ID).show();
                        button.prev().prev().show();
                        button.prev().show();
                        button.hide();   
                    }
                });
            });
            $("#tblStudentNotes").on("click", "#btnUpdateStudentNote", function(e) {
                e.preventDefault();
                var button = $(this);
                var ID = $(this).data('id');
                data = {};
                data.student_note_id = ID;
                data.student_note = $('#txtNote'+ID).val();
                data.student_number = $('#student_number').val();
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/updateStudentNote',
                    success: function(data) {
                        $('#txtNote'+ID).hide();
                        $('#spnNote'+ID).text($('#txtNote'+ID).val());
                        $('#spnNote'+ID).show();
                        button.prev().prev().show();
                        button.prev().show();
                        button.hide();   
                    }
                });
            });                                                                        
            $("#tblStudentColleges").on("click", "#btnDeleteCollege", function(e) {
                e.preventDefault();
                let student_number = $('#student_number').val();
                var ID = $(this).data('id');
                data = {};
                data.student_college_id = ID;
                if(confirm("THIS WILL ALSO REMOVE ALL FUNDING SOURCES AND DOCUMENTS ASSOCIATED, Are you sure you want to delete this College?")) {
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        url: '/deleteStudentCollege',
                        success: function(data) {
                            window.location = "/student_profile/"+student_number;
                        }
                    });
                }
            });
            $("#tblStudentColleges").on("click", "#deleteStudentCollegeFund", function(e) {
                e.preventDefault();
                var ID = $(this).data('id');
                data = {};
                data.student_college_fund_id = ID;
                thisObject = $(this);
                if(confirm("THIS WILL ALSO REMOVE THE DOCUMENT ASSOCIATED, Are you sure you want to delete this Entry?")) {
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        url: '/deleteStudentCollegeFund',
                        success: function(data) {
                            thisObject.closest('tr').remove();
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                        console.log("error");
                            alert(xhr);
                            alert(thrownError);
                        }
                    });
                }
            });
            $("#tblStudentColleges").on("click", "#deleteStudentCollegeFund", function(e) {
                e.preventDefault();
                var ID = $(this).data('id');
                data = {};
                data.student_college_fund_id = ID;
                thisObject = $(this);
                if(confirm("THIS WILL ALSO REMOVE THE DOCUMENT ASSOCIATED, Are you sure you want to delete this Entry?")) {
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        url: '/deleteStudentCollegeFund',
                        success: function(data) {
                            thisObject.closest('tr').remove();
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                        console.log("error");
                            alert(xhr);
                            alert(thrownError);
                        }
                    });
                }
            });
            $("#tblStudentGeneralFunds").on("click", "#deleteStudentGeneralFund", function(e) {
                e.preventDefault();
                var ID = $(this).data('id');
                data = {};
                data.student_general_fund_id = ID;
                thisObject = $(this);
                if(confirm("THIS WILL ALSO REMOVE THE DOCUMENT ASSOCIATED, Are you sure you want to delete this Entry?")) {
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        url: '/deleteStudentGeneralFund',
                        success: function(data) {
                            thisObject.closest('tr').remove();
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                        console.log("error");
                            alert(xhr);
                            alert(thrownError);
                        }
                    });
                }
            });
            $("#tblStudentNotes").on("click", "#deleteStudentNote", function(e) {
                e.preventDefault();
                var ID = $(this).data('id');
                data = {};
                data.student_note_id = ID;
                thisObject = $(this);
                if(confirm("Are you sure you want to delete this note entry?")) {
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        url: '/deleteStudentNote',
                        success: function(data) {
                            thisObject.closest('tr').remove();
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                        console.log("error");
                            alert(xhr);
                            alert(thrownError);
                        }
                    });
                }
            });                                   
            var dataList = document.getElementById('colleges-datalist');
            var input = document.getElementById('colleges-auto');
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: '/getColleges',
                success: function(data) {
                    for(var key in data) {
                        var option = document.createElement('option');
                        option.value = data[key].college_name;
                        option.text = data[key].college_id;
                        dataList.appendChild(option);   
                    };
                }
            });
            $(document).on("click", "#btnInsertCollege", function(e) {
                let student_number = $('#student_number').val();
                var $input = $('#colleges-auto'),
                val = $input.val();
                list = $input.attr('list'),
                match = $('#'+list + ' option').filter(function() {
                   return ($(this).val() === val);
                });
                if(match.length > 0) {
                    data = {};
                    data.student_number = student_number;
                    data.college_id = match.text();
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        url: '/addCollegeToStudent',
                        success: function(data) {
                            $('#addCollegeModal').modal('toggle');
                            window.location = "/student_profile/"+student_number;
                        }
                    });
                } else {
                    alert("You must select a name or enter their ENTIRE usernam3e");
                    e.preventDefault();
                }
            });          
            var grantDataList = document.getElementById('grants-datalist');
            var input = document.getElementById('grants-auto');
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: '/getGrants',
                success: function(data) {
                    for(var key in data) {
                        var option = document.createElement('option');
                        option.value = data[key].grant_name;
                        option.text = data[key].grant_id;
                        grantDataList.appendChild(option);   
                    };
                }
            });                        
            $(document).on("click", "#btnInsertGrant", function(e) {
                let student_number = $('#student_number').val();
                var $input = $('#grants-auto'),
                val = $input.val();
                list = $input.attr('list'),
                match = $('#'+list + ' option').filter(function() {
                   return ($(this).val() === val);
                });
                if(match.length > 0) {
                    $('#hidGrant_ID').val(match.text());
                } else {
                    alert("You must select a name or enter their ENTIRE username");
                    e.preventDefault();
                }
                if(isNaN($('#txtGrantLength').val())) {
                    alert("Grant Years must be a numeric value.");
                    e.preventDefault();
                }
                if($('#txtGrantLength').val() == "") {
                    alert("You must enter a number for grant years.");
                    e.preventDefault();
                }
            });                                      
        });
    </script>
    <!-- College Modal -->
    <div class="modal fade" id="addCollegeModal" tabindex="-1" role="dialog" aria-labelledby="addCollegeModalLabel" aria-hidden="true" data-backdrop="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addCollegeModalLabel">Add College</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="text" id="colleges-auto" name="colleges-auto" list="colleges-datalist" placeholder="Type to search for Colleges" style="width:250px">
            <datalist id="colleges-datalist"></datalist>
            <div>
                <button type="button" class="btn btn-secondary" id="btnInsertCollege">Add College</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Funding Type Modal -->
    <div class="modal fade" id="addFundingModal" tabindex="-1" role="dialog" aria-labelledby="addFundingModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addFundingModalLabel">Add Funding Source</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" action="/addStudentGrant">
                        <div>
                            <input type="text" id="grants-auto" name="grants-auto" list="grants-datalist" placeholder="Type to search for Grants" style="width:250px">
                            <datalist id="grants-datalist"></datalist>
                        </div>
                        <div>
                            <div>
                                <label for="txtGrantName" class="entryFieldlabel">Grant Amount</label>
                            </div>
                            <input type="number" id="txtGrantAmount" name="txtGrantAmount" placeholder="Grant Amount">
                        </div>
                        <div>
                            <div>
                                <label for="txtGrantLength" class="entryFieldlabel">Grant Number of Years</label>
                            </div>
                            <input type="number" id="txtGrantLength" name="txtGrantLength" placeholder="Grant Number of Years">
                        </div>                    
                        <div>
                            <div>
                                <label for="upFile" class="entryFieldlabel">Upload File</label>
                            </div>
                        </div>
                        <input type="file" name="upFile" id="upFile">
                        <input type="hidden" name="hidGrant_ID" id="hidGrant_ID">
                        <input type="hidden" name="hidStuColID" id="hidStuColID">
                        <input type="hidden" name="hidStuNum" id="hidStuNum">
                        <input type="hidden" name="hidGeneralFund" id="hidGeneralFund">
                        <div>
                            <button type="submit" class="btn btn-secondary" id="btnInsertGrant">Add Grant</button>
                        </div>            
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>            
        </div>
    </div>
    <!-- Note Modal -->
    <div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="addNoteModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNoteModalLabel">Add Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/addStudentNote">
                        <input type="hidden" name="hidStuNumNote" id="hidStuNumNote">
                        <textarea id="txtNote" name="txtNote" placeholder="Enter Note..." cols="50" rows="10" style="width:100%"></textarea>
                        <div>
                            <button type="submit" class="btn btn-secondary" id="btnInsertNote">Add Note</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>    
</html>