<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ../partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80" style="padding-top:100px">
            <div class="container">
                <form method="post" action="/updateontract">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="create-contract">
                            <strong>Contract Info</strong>
                                    <div>
                                        <div>Company Name</div>
                                        <div><input type="text" id="companyName" name="companyName" placeholder="Company Name" style="width:250px"></div>
                                    </div>
                                    <div>
                                        <div>Contract Start Date</div>
                                        <div><input type="text" id="startDate" name="startDate" placeholder="mm/dd/yyyy"></div>
                                    </div>
                                    <div>
                                        <div>Contract End Date</div>
                                        <div><input type="text" id="endDate" name="endDate" placeholder="mm/dd/yyyy"></div>
                                    </div>
                                    <div>
                                        <button name="submit" id="btnCreateContract" type="submit" class="btn btn-md btn-black">Create Contract</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="create-contract">
                                <div>
                                    <div>Termination Clause</div>
                                    <div><input type="text" id="terminationClause" name="terminationClause" placeholder="Termination Clause" style="width:250px"></div>
                                </div>
                                <div>
                                    <div>Who Signed Contract</div>
                                    <div>
                                        <select id="faculty_usernames" name="faculty_usernames">
                                            <option value="">--Select--</option>
                                            <% if(locals.faculty_username) { %>
                                                <% for(var x=0; x<faculty_username.length; x++) { %>
                                                    <option value="<%=faculty_username[x]%>"><%=faculty_username[x]%></option>
                                                <% } %>
                                            <% } %>
                                        </select>
                                    </div>
                                <div>
                                    <div>Renewal Terms</div>
                                    <div><input type="text" id="renewal_terms" name="renewal_terms" placeholder="Renewal Terms"></div>
                                </div>
                                <div>
                                    <div>Renewal Time</div>
                                    <div><input type="text" id="renewal_time" name="renewal_time" placeholder="Year/Month"></div>
                                </div>
                                <div>
                                    <button name="submit" id="btnCreateContract" type="submit" class="btn btn-md btn-black">Create Contract</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="create-contract">
                                <div>
                                    <div>Department</div>
                                    <div>
                                        <select id="ddlDepartments" name="ddlDepartments">
                                            <option value="">--Select--</option>
                                            <% if(locals.departments) { %>
                                                <% for(var x=0; x<departments.length; x++) { %>
                                                    <option value="<%=departments[x]%>"><%=departments[x]%></option>
                                                <% } %>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div>Who Owns Contract</div>
                                    <div>
                                        <select id="owner_usernames" name="owner_usernames">
                                            <option value="">--Select--</option>
                                            <% if(locals.faculty_username) { %>
                                                <% for(var x=0; x<faculty_username.length; x++) { %>
                                                    <option value="<%=faculty_username[x]%>"><%=faculty_username[x]%></option>
                                                <% } %>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <button name="submit" id="btnCreateContract" type="submit" class="btn btn-md btn-black">Create Contract</button>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </form>
            </div>
        </section>
        <!-- End About Section-->
        <% include ../partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
    <script type="text/javascript" language="javascript">
        $("#startDate").datepicker();
        $("#endDate").datepicker();
    </script>
</html>da;lskf;asd