<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ../partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80" style="padding-top:100px">
            <div class="container">
                <div class="row">
                    <form method="post" action="/createContract">
                        <div class="col-lg-10">
                            <div class="create-contract">
                            <strong>Create New Contract</strong>
                                    <div>
                                        <div>Company Name</div>
                                        <div><input type="text" id="companyName" name="companyName" placeholder="Company Name" style="width:250px"></div>
                                    </div>
                                    <div>
                                        <div>Contract Start Date</div>
                                        <div><input type="text" id="startDate" name="startDate" placeholder="mm/dd/yyyy"></div>
                                    </div>
                                    <div>
                                        <div>Contract End Date</div>
                                        <div><input type="text" id="endDate" name="endDate" placeholder="mm/dd/yyyy"></div>
                                    </div>
                                    <div>
                                        <button name="submit" id="btnCreateContract" type="submit" class="btn btn-md btn-black">Create Contract</button>
                                    </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <% include ../partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
    <script type="text/javascript" language="javascript">
        $("#startDate").datepicker();
        $("#endDate").datepicker();
    </script>
</html>