<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ../partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row" style="padding-top:50px">
                    <div class="col-lg-12">
                        <div id="ptos" class="ptos">
                            <strong>Approved PTO Requests for Teachers</strong>
                            <div>
                                <input type="date" name="pto_date" id="pto_date" placeholder="MM/DD/YYYY">
                                <button type="button" class="btn btn-md btn-black" id="btnSearchPTO">Search Date</button>
                            </div>                            
                            <table class="table table-striped">
                                <tr><th>Employee</th><th>Date</th><th>Note</th><th>Request Type</th>Request Value</th><th>Date Submitted</th></tr>
                                <% for(var i=0; i<pto.length; i++) {%>
                                    <tr id="pto<%=pto[i].pto_request_id %>">
                                            <td class="pto-username"><%= pto[i].username %></td>
                                            <td class="pto-date"><%= moment(pto[i].pto_date).format('LL');%></td>
                                            <td><%=pto[i].pto_notes%></td>
                                            <td><%= pto[i].pto_request_type_name %></td>
                                            <td><%= pto[i].pto_value %></td>
                                            <td><%= moment(pto[i].pto_request_submitted_date).format('LL');%></td>                                            
                                        </div>
                                        <div style="clear:both"></div>                             
                                    </tr>
                                <% } %>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <% include ../partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $('#btnSearchPTO').click(function(e) {
                e.preventDefault();
                var data = {};
                data.date = moment($('#pto_date').val()).format("YYYY-MM-DD");
                window.location.assign("/approvedTeacherPTO/"+data.date);
            });
        });
    </script>
</html>