<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ../partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container" style="height:100%">
                <div class="row text-center">
                    <div class="col-lg-12" style="height:215px">
                        <div><button type="button" class="btn btn-warning" id="btnGenCode">Generate Code</button></div>
                        <div id="dvCodeResult" style="padding-top:10px;font-weight:bold"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <% include ../partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $('#btnGenCode').click(function() {
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    url: '/genCode',
                    success: function(data) {
                        $('#dvCodeResult').html(data);
                    }
                });
            });                  
        });
    </script>
</html>