<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ../partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row" style="padding-top:50px">
                    <div class="col-lg-12">
                        <div id="ptos" class="ptos">
                            <strong>Approved PTO Requests for your Direct Reports</strong>
                            <table class="table table-striped">
                                <tr><th>Employee</th><th>Days Used</th><th>Days Remaining</th></tr>
                                <% for(var i=0; i<pto_totals.length; i++) {%>
                                    <tr id="pto_user" data-value-name="<%=pto_totals[i].username %>" style="cursor:pointer">
                                            <td class="pto-username"><%= pto_totals[i].username %></td>
                                            <td class="pto-used"><%= pto_totals[i].days_used %></td>
                                            <td><%= pto_totals[i].total_days - pto_totals[i].days_used%></td>
                                        <div style="clear:both"></div>                             
                                    </tr>
                                    <% let username = pto_totals[i].username %>
                                    <% let filteredArray = pto.filter(function(itm) { %>
                                            <% return username.indexOf(itm.username) > -1; %>
                                    <% }); %>
                                    <% for(let x=0; x<filteredArray.length; x++) { %>
                                        <tr class="pto_list_<%=filteredArray[x].username %>">
                                            <td></td>
                                            <td class="pto-date"><%= moment(filteredArray[x].pto_date).format('LL'); %></td>
                                            <td><%=filteredArray[x].pto_notes%></td>
                                            <td><%= filteredArray[x].pto_request_type_name %></td>
                                            <td>
                                                <% if(pto[x].pto_value == 1) { %>
                                                    Full Day
                                                <% } else if (filteredArray[x].pto_value == .75) { %>
                                                    3/4 Day
                                                <% } else if (filteredArray[x].pto_value == .5) { %>
                                                    Half Day
                                                <% } else if (filteredArray[x].pto_value == .25) { %>
                                                    1/4Day
                                                <% } %>

                                            </td>
                                            <div style="clear:both"></div>                             
                                        </tr>
                                    <% } %>    
                                <% } %>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <% include ../partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
    <script type="text/javascript" language="javascript">
        $('[class^="pto_list_"]').hide();
        $("[id^=pto_user").click(function(){
             let user = $(this).data("value-name");
             $('.pto_list_'+user).toggle();
        });
    </script>
</html>