<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ../partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-12">
                        <% if(login) { %>
                            <div id="ptoTools" class="button_dashboards">
                                <span class="adminbutton" onclick="linkaddress('TeacherPTO');">
                                    <div class="glyphicon glyphicon-time fa-4x"></div><div class="buttontext">Approved Teacher PTO</div>
                                </span>
                                <span class="adminbutton" onclick="linkaddress('classesForYear');">
                                    <div class="glyphicon glyphicon-time fa-4x"></div><div class="buttontext">Subs Requested Year</div>
                                </span>
                                <span class="adminbutton" onclick="linkaddress('DirectReportsPTO');">
                                    <div class="glyphicon glyphicon-time fa-4x"></div><div class="buttontext">Direct Reports PTO</div>
                                </span>                                                                                                   
                            </div>
                        <% } %>
                        <% if(systemAdmin) { %>
                            <div id="ptoTools" class="button_dashboards">
                                <span class="adminbutton" onclick="linkaddress('AllPTO');">
                                    <div class="glyphicon glyphicon-time fa-4x"></div><div class="buttontext">All PTO</div>
                                </span>                                                                                                  
                            </div>                          
                        <% } else {%>
                            You are not logged in so you cannot see anything!
                        <% } %>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <% include ../partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
    <script type="text/javascript" language="javascript">
        function linkaddress(LinkLocation) {
            if(LinkLocation == "TeacherPTO") {
                window.location.assign("approvedTeacherPTO");
            }
            else if(LinkLocation == "classesForYear") {
                window.location.assign("classesForYear");
            }
            else if(LinkLocation == "DirectReportsPTO") {
                window.location.assign("directReportsPTO");
            } else if(LinkLocation == "AllPTO") {
                window.location.assign("allPTO");
            }     
        }
    </script>
</html>