<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ../partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row" style="padding-top:50px">
                    <div class="col-lg-12">
                        <div id="ptos" class="ptos">
                            <strong>Number of Substitutes for Classes by Teacher</strong>
                            <table class="table table-striped">
                                <tr><th>Employee</th><th># of Subs needed this year</th></tr>
                                <% for(var i=0; i<report.length; i++) {%>
                                    <tr>
                                        <td class="report-name"><%= report[i].full_name %></td>
                                        <td class="report-count"><%=report[i].count%></td>                           
                                    </tr>
                                <% } %>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <% include ../partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
    <script type="text/javascript" language="javascript">
    </script>
</html>