<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="wrapper">
        <% include ../partials/header %>
        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row" style="padding-top:50px">
                    <div class="col-lg-12">
                        <div id="ptos" class="ptos">
                            <strong>Teacher Remaining PTO Days</strong>
                            <table class="table table-striped">
                                <tr><th>Employee</th><th>Days Used</th><th>Days Remaining</th></tr>
                                <% for(var i=0; i<pto_totals.length; i++) {%>
                                    <tr id="pto_user" data-value-name="<%=pto[i].username %>" style="cursor:pointer">
                                            <td class="pto-username"><%= pto_totals[i].username %></td>
                                            <td class="pto-used"><%= pto[i].days_used %></td>
                                            <td><%= pto[i].pto_remainder %></td>
                                        <div style="clear:both"></div>                             
                                    </tr>   
                                <% } %>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <% include ../partials/footer %>
        <!-- End CONTENT ------------------------------------------------------------------------------>        
    </div>
    <% include ../partials/scripts %>
</html>